#### (Part 1)

### SUM Questions:
1. Find the total amount of poster_qty paper ordered in the orders table.
2. Find the total amount of standard_qty paper ordered in the orders table.
3. Find the total dollar amount of sales using the total_amt_usd in the orders table.
4. Find the total amount spent on standard_amt_usd and gloss_amt_usd paper for each order in the orders table. This should give a dollar amount for each order in the table.
5. Find the unit cost of each paper.

### MIN, MAX, & AVG Questions:
6. When was the earliest order ever placed?
7. Try performing the same query as in question 6 without using an aggregation function.
8. When did the most recent (latest) web_event occur?
9. Try to perform the result of the previous query without using an aggregation function.
10. Find the mean (AVERAGE) amount spent per order on each paper type, as well as the mean amount of each paper type purchased per order. Your final answer should have 6 values - one for each paper type for the average number of sales, as well as the average amount.

____________

#### (Part 2)

### GROUP BY Questions:
11. Which account (by name) placed the earliest order? Include the account name and the date of the order.
12. Find the total sales in USD for each account. You should include two columns - the total sales for each company's orders in USD and the company name.
13. Via what channel did the most recent (latest) web_event occur, which account was associated with this web_event? Your query should return only three values - the date, channel, and account name.
14. Find the total number of times each type of channel from the web_events was used. Your final table should have two columns - the channel and the number of times the channel was used.
15. Who was the primary contact associated with the earliest web_event?
16. What was the smallest order placed by each account in terms of total USD? Provide only two columns - the account name and the total USD. Order from smallest dollar amounts to largest.
17. Find the number of sales reps in each region. Your final table should have two columns - the region and the number of sales reps. Order from fewest reps to most reps.
18. For each account, determine the average amount of each type of paper they purchased across their orders. Your result should have four columns - one for the account name and one for the average quantity purchased for each of the paper types for each account.
19. For each account, determine the average amount spent per order on each paper type. Your result should have four columns - one for the account name and one for the average amount spent on each paper type.
20. Determine the number of times a particular channel was used in the web_events table for each sales rep. Your final table should have three columns - the name of the sales rep, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.
21. Determine the number of times a particular channel was used in the web_events table for each region. Your final table should have three columns - the region name, the channel, and the number of occurrences. Order your table with the highest number of occurrences first.

_______

#### (Part 3)

### DISTINCT Questions:
22. Are any accounts associated with more than one region?
23. Have any sales reps worked on more than one account?  

### HAVING Questions:
24. How many of the sales reps have more than 5 accounts that they manage?  
25. How many accounts have more than 20 orders?  
26. Which account has the most orders?  
27. How many accounts spent more than 30,000 USD total across all orders?  
28. Which accounts spent less than 1,000 USD total across all orders?  
29. Which account has spent the most with us?  
30. Which account has spent the least with us?  
31. Which accounts used Facebook as a channel to contact customers more than 6 times?  
32. Which account used Facebook most as a channel?  
33. Which channel was most frequently used by most accounts?  


_______

#### (Part 4)

### DATE Function Questions:
34. Find the sales in terms of total dollars for all orders in each year, ordered from greatest to least.  
35. Which month did Parch & Posey have the greatest sales in terms of total dollars? Are all months evenly represented by the dataset?  
36. Which year did Parch & Posey have the greatest sales in terms of total number of orders? Are all years evenly represented by the dataset?  
37. Which month did Parch & Posey have the greatest sales in terms of total number of orders? Are all months evenly represented by the dataset?  
38. In which month of which year did Walmart spend the most on gloss paper in terms of dollars?  

### CASE Questions:
39. Write a query to display for each order, the account ID, total amount of the order, and the level of the order - ‘Large’ or ‘Small’ - depending on if the order is 3000 USD or more, or smaller than 3000 USD.  
40. Write a query to display the number of orders in each of three categories, based on the total number of items in each order. The three categories are: 'At Least 2000', 'Between 1000 and 2000' and 'Less than 1000'.  
41. We would like to understand 3 different levels of customers based on the amount associated with their purchases. The top level includes anyone with a Lifetime Value (total sales of all orders) greater than 200,000 USD. The second level is between 200,000 and 100,000 USD. The lowest level is anyone under 100,000 USD. Provide a table that includes the level associated with each account. You should provide the account name, the total sales of all orders for the customer, and the level. Order with the top spending customers listed first.  
42. We would now like to perform a similar calculation to the first, but we want to obtain the total amount spent by customers only in 2016 and 2017. Keep the same levels as in the previous question. Order with the top spending customers listed first.  

#### (Part 5)

### SQL Window Functions and Aggregations Questions

43. Create a running total of `standard_amt_usd` in the `orders` table over order time with no date truncation. The final table should have two columns: one with the amount being added for each new row and a second with the running total.  

44. Modify the previous query to partition by the year-truncated `occurred_at` date. The final table should include three columns: the amount being added, the truncated date, and the running total within each year.  

45. Rank the total amount of paper ordered (`total`) for each account (`account_id`) in the `orders` table using the `RANK()` function. The final table should include `id`, `account_id`, `total`, and `total_rank`.  

46. Create and use an alias named `account_year_window` to simplify a query containing multiple window functions that partition by `account_id` and order by the truncated year of `occurred_at`.  

47. Compare each order’s total revenue (`total_amt_usd`) with the next order’s total revenue using the `LEAD()` function. The final table should include `occurred_at`, `total_amt_usd`, `lead`, and `lead_difference`.  

48. Use the `NTILE(4)` function to divide the accounts into four quartiles based on the amount of `standard_qty` for their orders. The final table should include `account_id`, `occurred_at`, `standard_qty`, and `standard_quartile`.  

49. Use the `NTILE(2)` function to divide the accounts into two levels based on the amount of `gloss_qty` for their orders. The final table should include `account_id`, `occurred_at`, `gloss_qty`, and `gloss_half`.  

50. Use the `NTILE(100)` function to divide the orders for each account into 100 percentile levels based on `total_amt_usd`. The final table should include `account_id`, `occurred_at`, `total_amt_usd`, and `total_percentile`.  

51. Determine how the current order's total revenue ("total" meaning from sales of all types of paper) compares to the next order's total revenue. (There should be four columns: `occurred_at`, `total_amt_usd`, `lead`, and `lead_difference`.)

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:Champions12!@localhost:5432/postgres

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

#### 43. Create a running total of standard_amt_usd in the orders table over order time with no date truncation. The final table should have two columns: one with the amount being added for each new row and a second with the running total.

In [5]:
%%sql 
SELECT 
    standard_amt_usd,
    SUM(standard_amt_usd) OVER(ORDER BY occurred_at) AS running_total
FROM orders_consolidated
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(Decimal('0.00'), Decimal('0.00')),
 (Decimal('2445.10'), Decimal('2445.10')),
 (Decimal('2634.72'), Decimal('5079.82')),
 (Decimal('0.00'), Decimal('5079.82')),
 (Decimal('2455.08'), Decimal('7534.90')),
 (Decimal('2504.98'), Decimal('10039.88')),
 (Decimal('264.47'), Decimal('10304.35')),
 (Decimal('1536.92'), Decimal('11841.27')),
 (Decimal('374.25'), Decimal('12215.52')),
 (Decimal('1402.19'), Decimal('13617.71')),
 (Decimal('59.88'), Decimal('13677.59')),
 (Decimal('2300.39'), Decimal('15977.98')),
 (Decimal('2445.10'), Decimal('18423.08')),
 (Decimal('214.57'), Decimal('18637.65')),
 (Decimal('424.15'), Decimal('19061.80')),
 (Decimal('2380.23'), Decimal('21442.03')),
 (Decimal('8882.20'), Decimal('30324.23')),
 (Decimal('2499.99'), Decimal('32824.22')),
 (Decimal('0.00'), Decimal('32824.22')),
 (Decimal('2499.99'), Decimal('35324.21')),
 (Decimal('2400.19'), Decimal('37724.40')),
 (Decimal('0.00'), Decimal('37724.40')),
 (Decimal('2450.09'), Decimal('40174.49')),
 (Decimal('0.00'), Decimal('40174.49')),
 (Decimal('2499.99'), Decimal('42674.48')),
 (Decimal('0.00'), Decimal('42674.48')),
 (Decimal('3188.61'), Decimal('45863.09')),
 (Decimal('1546.90'), Decimal('47409.99')),
 (Decimal('1082.83'), Decimal('48492.82')),
 (Decimal('708.58'), Decimal('49201.40')),
 (Decimal('1551.89'), Decimal('50753.29')),
 (Decimal('429.14'), Decimal('51182.43')),
 (Decimal('2415.16'), Decimal('53597.59')),
 (Decimal('738.52'), Decimal('54336.11')),
 (Decimal('474.05'), Decimal('54810.16')),
 (Decimal('2564.86'), Decimal('57375.02')),
 (Decimal('189.62'), Decimal('57564.64')),
 (Decimal('1492.01'), Decimal('59056.65')),
 (Decimal('748.50'), Decimal('59805.15')),
 (Decimal('1571.85'), Decimal('61377.00')),
 (Decimal('0.00'), Decimal('61377.00')),
 (Decimal('2574.84'), Decimal('63951.84')),
 (Decimal('0.00'), Decimal('63951.84')),
 (Decimal('5244.49'), Decimal('69196.33')),
 (Decimal('2659.67'), Decimal('71856.00')),
 (Decimal('99.80'), Decimal('71955.80')),
 (Decimal('2440.11'), Decimal('74395.91')),
 (Decimal('2524.94'), Decimal('76920.85')),
 (Decimal('2450.09'), Decimal('79370.94')),
 (Decimal('0.00'), Decimal('79370.94')),
 (Decimal('2460.07'), Decimal('81831.01')),
 (Decimal('314.37'), Decimal('82145.38')),
 (Decimal('1896.20'), Decimal('84041.58')),
 (Decimal('1691.61'), Decimal('85733.19')),
 (Decimal('753.49'), Decimal('86486.68')),
 (Decimal('1497.00'), Decimal('87983.68')),
 (Decimal('339.32'), Decimal('88323.00')),
 (Decimal('533.93'), Decimal('88856.93')),
 (Decimal('2499.99'), Decimal('91356.92')),
 (Decimal('169.66'), Decimal('91526.58')),
 (Decimal('1427.14'), Decimal('92953.72')),
 (Decimal('2514.96'), Decimal('95468.68')),
 (Decimal('344.31'), Decimal('95812.99')),
 (Decimal('1447.10'), Decimal('97260.09')),
 (Decimal('2480.03'), Decimal('99740.12')),
 (Decimal('0.00'), Decimal('99740.12')),
 (Decimal('334.33'), Decimal('100074.45')),
 (Decimal('1521.95'), Decimal('101596.40')),
 (Decimal('1442.11'), Decimal('103038.51')),
 (Decimal('0.00'), Decimal('103038.51')),
 (Decimal('2400.19'), Decimal('105438.70')),
 (Decimal('29.94'), Decimal('105468.64')),
 (Decimal('1387.22'), Decimal('106855.86')),
 (Decimal('149.70'), Decimal('107005.56')),
 (Decimal('708.58'), Decimal('107714.14')),
 (Decimal('289.42'), Decimal('108003.56')),
 (Decimal('1516.96'), Decimal('109520.52')),
 (Decimal('2534.92'), Decimal('112055.44')),
 (Decimal('548.90'), Decimal('112604.34')),
 (Decimal('459.08'), Decimal('113063.42')),
 (Decimal('1581.83'), Decimal('114645.25')),
 (Decimal('419.16'), Decimal('115064.41')),
 (Decimal('1482.03'), Decimal('116546.44')),
 (Decimal('284.43'), Decimal('116830.87')),
 (Decimal('0.00'), Decimal('116830.87')),
 (Decimal('1761.47'), Decimal('118592.34')),
 (Decimal('2485.02'), Decimal('121077.36')),
 (Decimal('0.00'), Decimal('121077.36')),
 (Decimal('1516.96'), Decimal('122594.32')),
 (Decimal('254.49'), Decimal('122848.81')),
 (Decimal('1432.13'), Decimal('124280.94')),
 (Decimal('204.59'), Decimal('124485.53')),
 (Decimal('2485.02'), Decimal('126970.55')),
 (Decimal('748.50'), Decimal('127719.05')),
 (Decimal('49.90'), Decimal('127768.95')),
 (Decimal('1327.34'), Decimal('129096.29')),
 (Decimal('394.21'), Decimal('129490.50')),
 (Decimal('593.81'), Decimal('130084.31')),
 (Decimal('2420.15'), Decimal('132504.46')),
 (Decimal('2569.85'), Decimal('135074.31'))]

#### 44. Modify the previous query to partition by the year-truncated occurred_at date. The final table should include three columns: the amount being added, the truncated date, and the running total within each year.

In [6]:
%%sql 
SELECT 
    standard_amt_usd,
    EXTRACT(YEAR FROM occurred_at) AS year,
    SUM(standard_amt_usd) OVER(
        PARTITION BY EXTRACT(YEAR FROM occurred_at) 
        ORDER BY occurred_at
    ) AS running_total
FROM orders_consolidated
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(Decimal('0.00'), Decimal('2013'), Decimal('0.00')),
 (Decimal('2445.10'), Decimal('2013'), Decimal('2445.10')),
 (Decimal('2634.72'), Decimal('2013'), Decimal('5079.82')),
 (Decimal('0.00'), Decimal('2013'), Decimal('5079.82')),
 (Decimal('2455.08'), Decimal('2013'), Decimal('7534.90')),
 (Decimal('2504.98'), Decimal('2013'), Decimal('10039.88')),
 (Decimal('264.47'), Decimal('2013'), Decimal('10304.35')),
 (Decimal('1536.92'), Decimal('2013'), Decimal('11841.27')),
 (Decimal('374.25'), Decimal('2013'), Decimal('12215.52')),
 (Decimal('1402.19'), Decimal('2013'), Decimal('13617.71')),
 (Decimal('59.88'), Decimal('2013'), Decimal('13677.59')),
 (Decimal('2300.39'), Decimal('2013'), Decimal('15977.98')),
 (Decimal('2445.10'), Decimal('2013'), Decimal('18423.08')),
 (Decimal('214.57'), Decimal('2013'), Decimal('18637.65')),
 (Decimal('424.15'), Decimal('2013'), Decimal('19061.80')),
 (Decimal('2380.23'), Decimal('2013'), Decimal('21442.03')),
 (Decimal('8882.20'), Decimal('2013'), Decimal('30324.23')),
 (Decimal('2499.99'), Decimal('2013'), Decimal('32824.22')),
 (Decimal('0.00'), Decimal('2013'), Decimal('32824.22')),
 (Decimal('2499.99'), Decimal('2013'), Decimal('35324.21')),
 (Decimal('2400.19'), Decimal('2013'), Decimal('37724.40')),
 (Decimal('0.00'), Decimal('2013'), Decimal('37724.40')),
 (Decimal('2450.09'), Decimal('2013'), Decimal('40174.49')),
 (Decimal('0.00'), Decimal('2013'), Decimal('40174.49')),
 (Decimal('2499.99'), Decimal('2013'), Decimal('42674.48')),
 (Decimal('0.00'), Decimal('2013'), Decimal('42674.48')),
 (Decimal('3188.61'), Decimal('2013'), Decimal('45863.09')),
 (Decimal('1546.90'), Decimal('2013'), Decimal('47409.99')),
 (Decimal('1082.83'), Decimal('2013'), Decimal('48492.82')),
 (Decimal('708.58'), Decimal('2013'), Decimal('49201.40')),
 (Decimal('1551.89'), Decimal('2013'), Decimal('50753.29')),
 (Decimal('429.14'), Decimal('2013'), Decimal('51182.43')),
 (Decimal('2415.16'), Decimal('2013'), Decimal('53597.59')),
 (Decimal('738.52'), Decimal('2013'), Decimal('54336.11')),
 (Decimal('474.05'), Decimal('2013'), Decimal('54810.16')),
 (Decimal('2564.86'), Decimal('2013'), Decimal('57375.02')),
 (Decimal('189.62'), Decimal('2013'), Decimal('57564.64')),
 (Decimal('1492.01'), Decimal('2013'), Decimal('59056.65')),
 (Decimal('748.50'), Decimal('2013'), Decimal('59805.15')),
 (Decimal('1571.85'), Decimal('2013'), Decimal('61377.00')),
 (Decimal('0.00'), Decimal('2013'), Decimal('61377.00')),
 (Decimal('2574.84'), Decimal('2013'), Decimal('63951.84')),
 (Decimal('0.00'), Decimal('2013'), Decimal('63951.84')),
 (Decimal('5244.49'), Decimal('2013'), Decimal('69196.33')),
 (Decimal('2659.67'), Decimal('2013'), Decimal('71856.00')),
 (Decimal('99.80'), Decimal('2013'), Decimal('71955.80')),
 (Decimal('2440.11'), Decimal('2013'), Decimal('74395.91')),
 (Decimal('2524.94'), Decimal('2013'), Decimal('76920.85')),
 (Decimal('2450.09'), Decimal('2013'), Decimal('79370.94')),
 (Decimal('0.00'), Decimal('2013'), Decimal('79370.94')),
 (Decimal('2460.07'), Decimal('2013'), Decimal('81831.01')),
 (Decimal('314.37'), Decimal('2013'), Decimal('82145.38')),
 (Decimal('1896.20'), Decimal('2013'), Decimal('84041.58')),
 (Decimal('1691.61'), Decimal('2013'), Decimal('85733.19')),
 (Decimal('753.49'), Decimal('2013'), Decimal('86486.68')),
 (Decimal('1497.00'), Decimal('2013'), Decimal('87983.68')),
 (Decimal('339.32'), Decimal('2013'), Decimal('88323.00')),
 (Decimal('533.93'), Decimal('2013'), Decimal('88856.93')),
 (Decimal('2499.99'), Decimal('2013'), Decimal('91356.92')),
 (Decimal('169.66'), Decimal('2013'), Decimal('91526.58')),
 (Decimal('1427.14'), Decimal('2013'), Decimal('92953.72')),
 (Decimal('2514.96'), Decimal('2013'), Decimal('95468.68')),
 (Decimal('344.31'), Decimal('2013'), Decimal('95812.99')),
 (Decimal('1447.10'), Decimal('2013'), Decimal('97260.09')),
 (Decimal('2480.03'), Decimal('2013'), Decimal('99740.12')),
 (Decimal('0.00'), Decimal('2013'), Decimal('99740.12')),
 (Decimal('334.33'), Decimal('2013'), Decimal('100074.45')),
 (Decimal('1521.95'), Decimal('2013'), Decimal('101596.40')),
 (Decimal('1442.11'), Decimal('2013'), Decimal('103038.51')),
 (Decimal('0.00'), Decimal('2013'), Decimal('103038.51')),
 (Decimal('2400.19'), Decimal('2013'), Decimal('105438.70')),
 (Decimal('29.94'), Decimal('2013'), Decimal('105468.64')),
 (Decimal('1387.22'), Decimal('2013'), Decimal('106855.86')),
 (Decimal('149.70'), Decimal('2013'), Decimal('107005.56')),
 (Decimal('708.58'), Decimal('2013'), Decimal('107714.14')),
 (Decimal('289.42'), Decimal('2013'), Decimal('108003.56')),
 (Decimal('1516.96'), Decimal('2013'), Decimal('109520.52')),
 (Decimal('2534.92'), Decimal('2013'), Decimal('112055.44')),
 (Decimal('548.90'), Decimal('2013'), Decimal('112604.34')),
 (Decimal('459.08'), Decimal('2013'), Decimal('113063.42')),
 (Decimal('1581.83'), Decimal('2013'), Decimal('114645.25')),
 (Decimal('419.16'), Decimal('2013'), Decimal('115064.41')),
 (Decimal('1482.03'), Decimal('2013'), Decimal('116546.44')),
 (Decimal('284.43'), Decimal('2013'), Decimal('116830.87')),
 (Decimal('0.00'), Decimal('2013'), Decimal('116830.87')),
 (Decimal('1761.47'), Decimal('2013'), Decimal('118592.34')),
 (Decimal('2485.02'), Decimal('2013'), Decimal('121077.36')),
 (Decimal('0.00'), Decimal('2013'), Decimal('121077.36')),
 (Decimal('1516.96'), Decimal('2013'), Decimal('122594.32')),
 (Decimal('254.49'), Decimal('2013'), Decimal('122848.81')),
 (Decimal('1432.13'), Decimal('2013'), Decimal('124280.94')),
 (Decimal('204.59'), Decimal('2013'), Decimal('124485.53')),
 (Decimal('2485.02'), Decimal('2013'), Decimal('126970.55')),
 (Decimal('748.50'), Decimal('2013'), Decimal('127719.05')),
 (Decimal('49.90'), Decimal('2013'), Decimal('127768.95')),
 (Decimal('1327.34'), Decimal('2013'), Decimal('129096.29')),
 (Decimal('394.21'), Decimal('2013'), Decimal('129490.50')),
 (Decimal('593.81'), Decimal('2013'), Decimal('130084.31')),
 (Decimal('2420.15'), Decimal('2013'), Decimal('132504.46')),
 (Decimal('2569.85'), Decimal('2014'), Decimal('2569.85'))]

#### 45. Rank the total amount of paper ordered (total) for each account (account_id) in the orders table using the RANK() function. The final table should include id, account_id, total, and total_rank.

In [7]:
%%sql 
SELECT 
    RANK() OVER (ORDER BY total_paper_qty DESC) AS ranked,
    *
FROM(
SELECT 
    account_id,
    company,
    SUM(total) AS total_paper_qty
FROM orders_consolidated
GROUP BY account_id,company
ORDER BY total_paper_qty DESC
) AS paper_ranked
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(1, 4211, 'EOG Resources', 56410),
 (2, 4151, 'Mosaic', 49246),
 (3, 1301, 'IBM', 47506),
 (4, 4161, 'Core-Mark Holding', 44750),
 (5, 1871, 'General Dynamics', 43730),
 (6, 3411, 'Leucadia National', 42358),
 (7, 2181, 'Arrow Electronics', 40904),
 (8, 4111, 'Republic Services', 40833),
 (9, 1561, 'Sysco', 40535),
 (10, 2591, 'Supervalu', 40412),
 (11, 1401, 'Archer Daniels Midland', 39863),
 (12, 2861, 'DISH Network', 39570),
 (13, 2931, 'Western Digital', 39187),
 (14, 2541, 'Fluor', 36887),
 (15, 3431, 'United States Steel', 36603),
 (16, 4291, 'Avis Budget Group', 35750),
 (17, 2231, 'Centene', 35358),
 (18, 1441, 'United Technologies', 34963),
 (19, 1451, 'Aetna', 34627),
 (20, 1421, 'Freddie Mac', 34581),
 (21, 1521, 'Disney', 33190),
 (22, 4251, 'Pacific Life', 33156),
 (23, 4461, 'KKR', 31887),
 (24, 1261, 'Wells Fargo', 29101),
 (25, 3471, 'ADP', 28629),
 (26, 2671, 'Bristol-Myers Squibb', 28601),
 (27, 1281, 'Citigroup', 28452),
 (28, 2631, 'Thermo Fisher Scientific', 28107),
 (29, 4311, 'American Family Insurance Group', 27248),
 (30, 3491, 'BlackRock', 27235),
 (31, 4271, 'Jarden', 27077),
 (32, 2681, 'Goodyear Tire & Rubber', 26597),
 (33, 2041, 'Travelers Cos.', 25768),
 (34, 1881, 'TJX', 25343),
 (35, 3141, "Land O'Lakes", 24948),
 (36, 1181, 'Walgreens Boots Alliance', 24656),
 (37, 2051, 'Philip Morris International', 24655),
 (38, 1411, 'Marathon Petroleum', 24538),
 (39, 1501, 'Intel', 24507),
 (40, 3051, 'Ecolab', 24215),
 (41, 2351, 'AutoNation', 24182),
 (42, 3911, 'Charter Communications', 24155),
 (43, 1781, 'Cigna', 24120),
 (44, 2871, 'FirstEnergy', 24119),
 (45, 1701, 'Best Buy', 24116),
 (46, 2881, 'Monsanto', 24087),
 (47, 1531, 'Cisco Systems', 23973),
 (48, 2731, 'Colgate-Palmolive', 23956),
 (49, 2411, 'Southwest Airlines', 23299),
 (50, 3251, 'Guardian Life Ins. Co. of America', 23186),
 (51, 1491, 'Prudential Financial', 23129),
 (52, 1081, 'Ford Motor', 22902),
 (53, 1601, 'New York Life Insurance', 22852),
 (54, 1831, 'CHS', 22841),
 (55, 2461, 'Paccar', 22752),
 (56, 3461, 'Entergy', 22552),
 (57, 1571, 'FedEx', 22177),
 (58, 2101, 'Sears Holdings', 21964),
 (59, 2481, 'Altria Group', 21887),
 (60, 3981, 'CST Brands', 21791),
 (61, 1541, 'Pfizer', 21716),
 (62, 1791, 'United Continental Holdings', 21706),
 (63, 2271, 'Emerson Electric', 21165),
 (64, 2341, 'Aflac', 21024),
 (65, 3111, 'Synnex', 20795),
 (66, 4431, 'Franklin Resources', 20761),
 (67, 1341, 'State Farm Insurance Cos.', 20497),
 (68, 1921, '3M', 19747),
 (69, 1291, 'Phillips 66', 19596),
 (70, 3721, 'BB&T Corp.', 19190),
 (71, 3881, 'Western Refining', 19002),
 (72, 1001, 'Walmart', 18924),
 (73, 2911, 'National Oilwell Varco', 18427),
 (74, 1371, 'Target', 18186),
 (75, 4451, 'Lithia Motors', 17917),
 (76, 2141, 'Duke Energy', 17836),
 (77, 3261, 'Farmers Insurance Exchange', 17788),
 (78, 1121, 'Verizon', 17563),
 (79, 3631, 'State Street Corp.', 17538),
 (80, 1221, 'J.P. Morgan Chase', 16849),
 (81, 4491, 'PPL', 16806),
 (82, 3991, 'eBay', 16574),
 (83, 2441, "Kohl's", 16320),
 (84, 3241, 'Occidental Petroleum', 16024),
 (85, 4061, 'PayPal Holdings', 15469),
 (86, 3061, 'Kellogg', 15177),
 (87, 1801, 'Allstate', 14929),
 (88, 3191, 'CDW', 14896),
 (89, 1741, 'Honeywell International', 14894),
 (90, 4101, 'Fidelity National Financial', 14806),
 (91, 2371, 'Abbott Laboratories', 14707),
 (92, 4281, 'SunTrust Banks', 14424),
 (93, 4041, 'Celgene', 14397),
 (94, 3591, 'D.R. Horton', 14382),
 (95, 1251, 'Bank of America Corp.', 14324),
 (96, 2191, 'Raytheon', 14081),
 (97, 3551, 'Stanley Black & Decker', 13464),
 (98, 2361, 'Progressive', 13364),
 (99, 4031, 'Hormel Foods', 13148),
 (100, 4181, 'Cameron International', 12723)]

#### 46. Create and use an alias named `account_year_window` to simplify a query containing multiple window functions that partition by `account_id` and order by the truncated year of `occurred_at`.

In [8]:
%%sql
SELECT 
    account_id,
    DATE_TRUNC('year', occurred_at) AS year,
    SUM(standard_amt_usd) OVER account_year_window AS running_total,
    AVG(standard_amt_usd) OVER account_year_window AS avg_amt
FROM orders
WINDOW account_year_window AS (
    PARTITION BY account_id 
    ORDER BY DATE_TRUNC('year', occurred_at)
)
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(1001, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7135.70'), Decimal('1427.1400000000000000')),
 (1001, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7135.70'), Decimal('1427.1400000000000000')),
 (1001, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7135.70'), Decimal('1427.1400000000000000')),
 (1001, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7135.70'), Decimal('1427.1400000000000000')),
 (1001, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7135.70'), Decimal('1427.1400000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1001, datetime.datetime(2016, 1, 1, 0, 0), Decimal('39401.04'), Decimal('1407.1800000000000000')),
 (1011, datetime.datetime(2016, 1, 1, 0, 0), Decimal('2629.73'), Decimal('2629.7300000000000000')),
 (1021, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7465.04'), Decimal('1493.0080000000000000')),
 (1021, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7465.04'), Decimal('1493.0080000000000000')),
 (1021, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7465.04'), Decimal('1493.0080000000000000')),
 (1021, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7465.04'), Decimal('1493.0080000000000000')),
 (1021, datetime.datetime(2015, 1, 1, 0, 0), Decimal('7465.04'), Decimal('1493.0080000000000000')),
 (1021, datetime.datetime(2016, 1, 1, 0, 0), Decimal('15728.48'), Decimal('1572.8480000000000000')),
 (1021, datetime.datetime(2016, 1, 1, 0, 0), Decimal('15728.48'), Decimal('1572.8480000000000000')),
 (1021, datetime.datetime(2016, 1, 1, 0, 0), Decimal('15728.48'), Decimal('1572.8480000000000000')),
 (1021, datetime.datetime(2016, 1, 1, 0, 0), Decimal('15728.48'), Decimal('1572.8480000000000000')),
 (1021, datetime.datetime(2016, 1, 1, 0, 0), Decimal('15728.48'), Decimal('1572.8480000000000000')),
 (1031, datetime.datetime(2016, 1, 1, 0, 0), Decimal('5728.52'), Decimal('5728.5200000000000000')),
 (1041, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4171.64'), Decimal('834.3280000000000000')),
 (1041, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4171.64'), Decimal('834.3280000000000000')),
 (1041, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4171.64'), Decimal('834.3280000000000000')),
 (1041, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4171.64'), Decimal('834.3280000000000000')),
 (1041, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4171.64'), Decimal('834.3280000000000000')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1051, datetime.datetime(2016, 1, 1, 0, 0), Decimal('18003.92'), Decimal('2000.4355555555555556')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1061, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4615.75'), Decimal('769.2916666666666667')),
 (1071, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4006.97'), Decimal('2003.4850000000000000')),
 (1071, datetime.datetime(2016, 1, 1, 0, 0), Decimal('4006.97'), Decimal('2003.4850000000000000')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2015, 1, 1, 0, 0), Decimal('18607.71'), Decimal('979.3531578947368421')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1081, datetime.datetime(2016, 1, 1, 0, 0), Decimal('40883.07'), Decimal('1104.9478378378378378')),
 (1091, datetime.datetime(2014, 1, 1, 0, 0), Decimal('4540.90'), Decimal('567.6125000000000000'))]

#### 47. Compare each order’s total revenue (total_amt_usd) with the next order’s total revenue using the LEAD() function. The final table should include occurred_at, total_amt_usd, lead, and lead_difference.

In [9]:
%%sql 
SELECT 
    occurred_at,
    total_amt_usd,
    LEAD(total_amt_usd, 1) OVER( ORDER BY occurred_at) AS lead,
    total_amt_usd - LEAD(total_amt_usd, 1) OVER( ORDER BY occurred_at) AS lead_difference
FROM orders_consolidated
ORDER BY occurred_at
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(datetime.datetime(2013, 12, 4, 4, 22, 44), Decimal('627.48'), Decimal('2646.77'), Decimal('-2019.29')),
 (datetime.datetime(2013, 12, 4, 4, 45, 54), Decimal('2646.77'), Decimal('2709.62'), Decimal('-62.85')),
 (datetime.datetime(2013, 12, 4, 4, 53, 25), Decimal('2709.62'), Decimal('277.13'), Decimal('2432.49')),
 (datetime.datetime(2013, 12, 5, 20, 29, 16), Decimal('277.13'), Decimal('3001.85'), Decimal('-2724.72')),
 (datetime.datetime(2013, 12, 5, 20, 33, 56), Decimal('3001.85'), Decimal('2802.90'), Decimal('198.95')),
 (datetime.datetime(2013, 12, 6, 2, 13, 20), Decimal('2802.90'), Decimal('7009.18'), Decimal('-4206.28')),
 (datetime.datetime(2013, 12, 6, 12, 55, 22), Decimal('7009.18'), Decimal('1992.13'), Decimal('5017.05')),
 (datetime.datetime(2013, 12, 6, 12, 57, 41), Decimal('1992.13'), Decimal('6680.06'), Decimal('-4687.93')),
 (datetime.datetime(2013, 12, 6, 13, 14, 47), Decimal('6680.06'), Decimal('2075.94'), Decimal('4604.12')),
 (datetime.datetime(2013, 12, 6, 13, 17, 25), Decimal('2075.94'), Decimal('1086.29'), Decimal('989.65')),
 (datetime.datetime(2013, 12, 6, 23, 45, 16), Decimal('1086.29'), Decimal('2424.64'), Decimal('-1338.35')),
 (datetime.datetime(2013, 12, 6, 23, 47, 45), Decimal('2424.64'), Decimal('2583.70'), Decimal('-159.06')),
 (datetime.datetime(2013, 12, 8, 0, 54, 42), Decimal('2583.70'), Decimal('6074.41'), Decimal('-3490.71')),
 (datetime.datetime(2013, 12, 8, 6, 34, 23), Decimal('6074.41'), Decimal('1350.60'), Decimal('4723.81')),
 (datetime.datetime(2013, 12, 8, 7, 5, 7), Decimal('1350.60'), Decimal('8230.27'), Decimal('-6879.67')),
 (datetime.datetime(2013, 12, 8, 7, 11, 38), Decimal('8230.27'), Decimal('9234.23'), Decimal('-1003.96')),
 (datetime.datetime(2013, 12, 8, 18, 24, 52), Decimal('9234.23'), Decimal('16375.46'), Decimal('-7141.23')),
 (datetime.datetime(2013, 12, 8, 18, 32, 52), Decimal('16375.46'), Decimal('11743.13'), Decimal('4632.33')),
 (datetime.datetime(2013, 12, 8, 20, 13, 49), Decimal('11743.13'), Decimal('2702.99'), Decimal('9040.14')),
 (datetime.datetime(2013, 12, 8, 20, 37, 53), Decimal('2702.99'), Decimal('2400.19'), Decimal('302.80')),
 (datetime.datetime(2013, 12, 9, 15, 39, 2), Decimal('2400.19'), Decimal('322.07'), Decimal('2078.12')),
 (datetime.datetime(2013, 12, 9, 15, 42, 23), Decimal('322.07'), Decimal('2497.55'), Decimal('-2175.48')),
 (datetime.datetime(2013, 12, 9, 22, 19, 26), Decimal('2497.55'), Decimal('693.28'), Decimal('1804.27')),
 (datetime.datetime(2013, 12, 10, 14, 36, 56), Decimal('693.28'), Decimal('2499.99'), Decimal('-1806.71')),
 (datetime.datetime(2013, 12, 10, 14, 43, 18), Decimal('2499.99'), Decimal('884.66'), Decimal('1615.33')),
 (datetime.datetime(2013, 12, 10, 16, 10, 52), Decimal('884.66'), Decimal('3188.61'), Decimal('-2303.95')),
 (datetime.datetime(2013, 12, 10, 16, 25, 51), Decimal('3188.61'), Decimal('1982.02'), Decimal('1206.59')),
 (datetime.datetime(2013, 12, 11, 3, 17, 57), Decimal('1982.02'), Decimal('7329.42'), Decimal('-5347.40')),
 (datetime.datetime(2013, 12, 11, 3, 42, 54), Decimal('7329.42'), Decimal('1378.97'), Decimal('5950.45')),
 (datetime.datetime(2013, 12, 11, 7, 45, 7), Decimal('1378.97'), Decimal('1551.89'), Decimal('-172.92')),
 (datetime.datetime(2013, 12, 11, 16, 34, 12), Decimal('1551.89'), Decimal('997.33'), Decimal('554.56')),
 (datetime.datetime(2013, 12, 11, 20, 36, 6), Decimal('997.33'), Decimal('8690.66'), Decimal('-7693.33')),
 (datetime.datetime(2013, 12, 11, 20, 42, 9), Decimal('8690.66'), Decimal('1879.03'), Decimal('6811.63')),
 (datetime.datetime(2013, 12, 12, 4, 47, 28), Decimal('1879.03'), Decimal('733.89'), Decimal('1145.14')),
 (datetime.datetime(2013, 12, 12, 9, 48, 16), Decimal('733.89'), Decimal('8680.34'), Decimal('-7946.45')),
 (datetime.datetime(2013, 12, 12, 9, 54, 34), Decimal('8680.34'), Decimal('5519.91'), Decimal('3160.43')),
 (datetime.datetime(2013, 12, 12, 16, 26, 53), Decimal('5519.91'), Decimal('2011.48'), Decimal('3508.43')),
 (datetime.datetime(2013, 12, 12, 16, 33, 14), Decimal('2011.48'), Decimal('772.86'), Decimal('1238.62')),
 (datetime.datetime(2013, 12, 12, 17, 49, 47), Decimal('772.86'), Decimal('2103.64'), Decimal('-1330.78')),
 (datetime.datetime(2013, 12, 13, 17, 58, 50), Decimal('2103.64'), Decimal('6201.65'), Decimal('-4098.01')),
 (datetime.datetime(2013, 12, 13, 18, 20, 51), Decimal('6201.65'), Decimal('3565.48'), Decimal('2636.17')),
 (datetime.datetime(2013, 12, 14, 9, 19, 37), Decimal('3565.48'), Decimal('599.20'), Decimal('2966.28')),
 (datetime.datetime(2013, 12, 14, 10, 24, 39), Decimal('599.20'), Decimal('6341.74'), Decimal('-5742.54')),
 (datetime.datetime(2013, 12, 14, 10, 37, 7), Decimal('6341.74'), Decimal('2742.06'), Decimal('3599.68')),
 (datetime.datetime(2013, 12, 14, 21, 40, 29), Decimal('2742.06'), Decimal('628.58'), Decimal('2113.48')),
 (datetime.datetime(2013, 12, 14, 21, 42, 11), Decimal('628.58'), Decimal('2522.50'), Decimal('-1893.92')),
 (datetime.datetime(2013, 12, 15, 23, 48, 5), Decimal('2522.50'), Decimal('2879.70'), Decimal('-357.20')),
 (datetime.datetime(2013, 12, 16, 2, 27, 22), Decimal('2879.70'), Decimal('2522.54'), Decimal('357.16')),
 (datetime.datetime(2013, 12, 16, 6, 16, 57), Decimal('2522.54'), Decimal('511.28'), Decimal('2011.26')),
 (datetime.datetime(2013, 12, 16, 6, 34, 38), Decimal('511.28'), Decimal('2684.84'), Decimal('-2173.56')),
 (datetime.datetime(2013, 12, 17, 12, 4, 46), Decimal('2684.84'), Decimal('6603.87'), Decimal('-3919.03')),
 (datetime.datetime(2013, 12, 17, 21, 43, 40), Decimal('6603.87'), Decimal('2712.61'), Decimal('3891.26')),
 (datetime.datetime(2013, 12, 17, 21, 54, 36), Decimal('2712.61'), Decimal('1691.61'), Decimal('1021.00')),
 (datetime.datetime(2013, 12, 17, 23, 2, 57), Decimal('1691.61'), Decimal('1228.72'), Decimal('462.89')),
 (datetime.datetime(2013, 12, 18, 10, 36, 28), Decimal('1228.72'), Decimal('2045.87'), Decimal('-817.15')),
 (datetime.datetime(2013, 12, 18, 23, 35, 31), Decimal('2045.87'), Decimal('12259.48'), Decimal('-10213.61')),
 (datetime.datetime(2013, 12, 18, 23, 41, 14), Decimal('12259.48'), Decimal('999.08'), Decimal('11260.40')),
 (datetime.datetime(2013, 12, 19, 16, 52, 20), Decimal('999.08'), Decimal('8433.82'), Decimal('-7434.74')),
 (datetime.datetime(2013, 12, 19, 16, 57, 14), Decimal('8433.82'), Decimal('5404.26'), Decimal('3029.56')),
 (datetime.datetime(2013, 12, 19, 17, 36, 9), Decimal('5404.26'), Decimal('1788.06'), Decimal('3616.20')),
 (datetime.datetime(2013, 12, 19, 17, 37, 45), Decimal('1788.06'), Decimal('2619.82'), Decimal('-831.76')),
 (datetime.datetime(2013, 12, 21, 16, 9, 46), Decimal('2619.82'), Decimal('6237.47'), Decimal('-3617.65')),
 (datetime.datetime(2013, 12, 21, 17, 13, 55), Decimal('6237.47'), Decimal('1593.26'), Decimal('4644.21')),
 (datetime.datetime(2013, 12, 21, 17, 14, 11), Decimal('1593.26'), Decimal('2733.50'), Decimal('-1140.24')),
 (datetime.datetime(2013, 12, 22, 7, 29, 58), Decimal('2733.50'), Decimal('713.58'), Decimal('2019.92')),
 (datetime.datetime(2013, 12, 22, 7, 35, 42), Decimal('713.58'), Decimal('6375.96'), Decimal('-5662.38')),
 (datetime.datetime(2013, 12, 22, 11, 24, 55), Decimal('6375.96'), Decimal('1972.12'), Decimal('4403.84')),
 (datetime.datetime(2013, 12, 22, 11, 29, 5), Decimal('1972.12'), Decimal('1865.47'), Decimal('106.65')),
 (datetime.datetime(2013, 12, 22, 19, 43), Decimal('1865.47'), Decimal('8300.60'), Decimal('-6435.13')),
 (datetime.datetime(2013, 12, 22, 19, 48, 13), Decimal('8300.60'), Decimal('2535.01'), Decimal('5765.59')),
 (datetime.datetime(2013, 12, 23, 7, 9, 20), Decimal('2535.01'), Decimal('3819.88'), Decimal('-1284.87')),
 (datetime.datetime(2013, 12, 23, 7, 18, 28), Decimal('3819.88'), Decimal('1865.60'), Decimal('1954.28')),
 (datetime.datetime(2013, 12, 24, 20, 36, 8), Decimal('1865.60'), Decimal('6556.66'), Decimal('-4691.06')),
 (datetime.datetime(2013, 12, 24, 20, 42, 9), Decimal('6556.66'), Decimal('738.54'), Decimal('5818.12')),
 (datetime.datetime(2013, 12, 25, 4, 33, 1), Decimal('738.54'), Decimal('6619.52'), Decimal('-5880.98')),
 (datetime.datetime(2013, 12, 25, 21, 3, 52), Decimal('6619.52'), Decimal('1906.58'), Decimal('4712.94')),
 (datetime.datetime(2013, 12, 25, 21, 16, 18), Decimal('1906.58'), Decimal('2820.24'), Decimal('-913.66')),
 (datetime.datetime(2013, 12, 26, 11, 33, 53), Decimal('2820.24'), Decimal('751.13'), Decimal('2069.11')),
 (datetime.datetime(2013, 12, 27, 5, 9, 46), Decimal('751.13'), Decimal('848.84'), Decimal('-97.71')),
 (datetime.datetime(2013, 12, 27, 22, 8, 3), Decimal('848.84'), Decimal('1847.13'), Decimal('-998.29')),
 (datetime.datetime(2013, 12, 28, 12, 54, 50), Decimal('1847.13'), Decimal('8262.87'), Decimal('-6415.74')),
 (datetime.datetime(2013, 12, 28, 18, 26, 50), Decimal('8262.87'), Decimal('1919.60'), Decimal('6343.27')),
 (datetime.datetime(2013, 12, 28, 18, 36, 42), Decimal('1919.60'), Decimal('1668.68'), Decimal('250.92')),
 (datetime.datetime(2013, 12, 29, 9, 35, 57), Decimal('1668.68'), Decimal('48675.90'), Decimal('-47007.22')),
 (datetime.datetime(2013, 12, 29, 9, 50, 38), Decimal('48675.90'), Decimal('1904.48'), Decimal('46771.42')),
 (datetime.datetime(2013, 12, 29, 21, 43, 14), Decimal('1904.48'), Decimal('2782.80'), Decimal('-878.32')),
 (datetime.datetime(2013, 12, 29, 23, 42, 44), Decimal('2782.80'), Decimal('636.65'), Decimal('2146.15')),
 (datetime.datetime(2013, 12, 29, 23, 54), Decimal('636.65'), Decimal('1959.15'), Decimal('-1322.50')),
 (datetime.datetime(2013, 12, 30, 3, 52, 30), Decimal('1959.15'), Decimal('6475.46'), Decimal('-4516.31')),
 (datetime.datetime(2013, 12, 30, 4, 0, 40), Decimal('6475.46'), Decimal('1577.66'), Decimal('4897.80')),
 (datetime.datetime(2013, 12, 30, 4, 30, 3), Decimal('1577.66'), Decimal('204.59'), Decimal('1373.07')),
 (datetime.datetime(2013, 12, 30, 4, 40, 17), Decimal('204.59'), Decimal('2792.11'), Decimal('-2587.52')),
 (datetime.datetime(2013, 12, 30, 21, 42, 43), Decimal('2792.11'), Decimal('5579.55'), Decimal('-2787.44')),
 (datetime.datetime(2013, 12, 30, 21, 46), Decimal('5579.55'), Decimal('734.78'), Decimal('4844.77')),
 (datetime.datetime(2013, 12, 31, 0, 18, 22), Decimal('734.78'), Decimal('1538.46'), Decimal('-803.68')),
 (datetime.datetime(2013, 12, 31, 0, 36, 59), Decimal('1538.46'), Decimal('1069.64'), Decimal('468.82')),
 (datetime.datetime(2013, 12, 31, 2, 4), Decimal('1069.64'), Decimal('863.45'), Decimal('206.19')),
 (datetime.datetime(2013, 12, 31, 12, 58, 47), Decimal('863.45'), Decimal('3850.74'), Decimal('-2987.29')),
 (datetime.datetime(2013, 12, 31, 13, 14, 55), Decimal('3850.74'), Decimal('2981.38'), Decimal('869.36')),
 (datetime.datetime(2014, 1, 1, 10, 56, 8), Decimal('2981.38'), Decimal('1073.87'), Decimal('1907.51'))]

#### 48. Use the NTILE(4) function to divide the accounts into four quartiles based on the amount of standard_qty for their orders. The final table should include account_id, occurred_at, standard_qty, and standard_quartile.

In [10]:
%%sql 

SELECT 
    account_id,
    occurred_at,
    standard_qty,
    NTILE(4) OVER(ORDER BY (standard_qty) DESC) AS standard_quartile
FROM orders_consolidated
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(4161, datetime.datetime(2016, 6, 24, 13, 32, 55), 22591, 1),
 (1341, datetime.datetime(2016, 10, 26, 0, 19, 31), 15649, 1),
 (2441, datetime.datetime(2016, 10, 21, 21, 8, 1), 7365, 1),
 (2041, datetime.datetime(2014, 10, 5, 15, 37, 22), 7083, 1),
 (1781, datetime.datetime(2015, 9, 5, 5, 58, 4), 6043, 1),
 (2441, datetime.datetime(2016, 9, 21, 18, 16, 12), 4571, 1),
 (2631, datetime.datetime(2016, 9, 21, 10, 48, 36), 4426, 1),
 (3721, datetime.datetime(2016, 9, 23, 23, 32, 59), 4362, 1),
 (1881, datetime.datetime(2016, 4, 11, 13, 48, 43), 3393, 1),
 (1281, datetime.datetime(2016, 8, 11, 4, 0, 37), 3337, 1),
 (2101, datetime.datetime(2016, 2, 10, 0, 12, 26), 2809, 1),
 (3451, datetime.datetime(2016, 11, 12, 9, 59, 46), 2766, 1),
 (2331, datetime.datetime(2014, 2, 8, 12, 46, 47), 2708, 1),
 (2341, datetime.datetime(2015, 10, 6, 5, 44, 53), 2701, 1),
 (1121, datetime.datetime(2015, 10, 24, 15, 55, 41), 2393, 1),
 (1181, datetime.datetime(2016, 4, 24, 16, 47, 51), 2188, 1),
 (3471, datetime.datetime(2015, 11, 2, 23, 45, 50), 2123, 1),
 (1701, datetime.datetime(2016, 3, 19, 21, 50, 29), 2069, 1),
 (2241, datetime.datetime(2016, 4, 5, 13, 39, 34), 2057, 1),
 (4271, datetime.datetime(2016, 3, 3, 9, 25, 58), 2048, 1),
 (2101, datetime.datetime(2016, 11, 1, 18, 4, 17), 2015, 1),
 (3491, datetime.datetime(2016, 8, 5, 8, 21, 2), 1950, 1),
 (3611, datetime.datetime(2016, 11, 17, 15, 18, 13), 1820, 1),
 (1881, datetime.datetime(2013, 12, 8, 18, 24, 52), 1780, 1),
 (1801, datetime.datetime(2016, 1, 1, 18, 43, 36), 1688, 1),
 (2301, datetime.datetime(2015, 4, 20, 20, 59, 42), 1677, 1),
 (1371, datetime.datetime(2016, 7, 5, 0, 35), 1672, 1),
 (4311, datetime.datetime(2015, 7, 13, 16, 41, 59), 1645, 1),
 (2861, datetime.datetime(2016, 6, 4, 23, 21, 4), 1622, 1),
 (2881, datetime.datetime(2015, 2, 9, 19, 19, 23), 1600, 1),
 (3491, datetime.datetime(2014, 8, 29, 22, 43), 1552, 1),
 (2951, datetime.datetime(2016, 6, 15, 10, 38, 4), 1448, 1),
 (2691, datetime.datetime(2016, 8, 30, 6, 52, 58), 1437, 1),
 (3991, datetime.datetime(2016, 6, 23, 3, 0, 44), 1317, 1),
 (2951, datetime.datetime(2016, 8, 15, 0, 6, 12), 1171, 1),
 (1031, datetime.datetime(2016, 12, 25, 3, 54, 27), 1148, 1),
 (1181, datetime.datetime(2015, 3, 8, 6, 12, 47), 1118, 1),
 (1321, datetime.datetime(2016, 10, 5, 4, 56, 24), 1113, 1),
 (2041, datetime.datetime(2015, 1, 30, 10, 33, 51), 1105, 1),
 (3101, datetime.datetime(2014, 2, 27, 12, 11, 47), 1100, 1),
 (3491, datetime.datetime(2015, 12, 13, 0, 49, 22), 1055, 1),
 (1291, datetime.datetime(2015, 5, 6, 1, 44, 14), 1055, 1),
 (2381, datetime.datetime(2013, 12, 14, 10, 37, 7), 1051, 1),
 (2461, datetime.datetime(2014, 11, 19, 9, 17, 21), 1012, 1),
 (2881, datetime.datetime(2015, 6, 7, 6, 20, 50), 1007, 1),
 (2091, datetime.datetime(2016, 1, 14, 6, 16, 58), 961, 1),
 (3431, datetime.datetime(2014, 10, 27, 14, 32, 53), 951, 1),
 (3061, datetime.datetime(2015, 11, 29, 19, 12, 25), 940, 1),
 (2411, datetime.datetime(2016, 7, 12, 5, 35, 51), 935, 1),
 (2561, datetime.datetime(2016, 11, 23, 22, 51, 2), 927, 1),
 (2191, datetime.datetime(2016, 7, 14, 2, 53, 19), 926, 1),
 (3001, datetime.datetime(2016, 3, 21, 21, 44, 6), 902, 1),
 (3531, datetime.datetime(2015, 11, 26, 19, 23, 59), 902, 1),
 (1681, datetime.datetime(2016, 9, 11, 8, 43, 5), 896, 1),
 (2521, datetime.datetime(2016, 7, 12, 2, 56, 11), 893, 1),
 (1301, datetime.datetime(2015, 1, 24, 6, 7, 44), 885, 1),
 (4431, datetime.datetime(2016, 1, 13, 17, 21, 20), 881, 1),
 (4161, datetime.datetime(2014, 1, 20, 8, 11, 32), 879, 1),
 (2441, datetime.datetime(2016, 8, 23, 15, 31, 59), 847, 1),
 (2671, datetime.datetime(2016, 6, 29, 8, 16, 21), 844, 1),
 (2481, datetime.datetime(2015, 9, 11, 14, 49, 46), 838, 1),
 (2431, datetime.datetime(2016, 11, 21, 8, 43, 54), 835, 1),
 (2381, datetime.datetime(2014, 5, 11, 14, 1, 28), 815, 1),
 (1071, datetime.datetime(2016, 12, 13, 9, 1, 3), 803, 1),
 (3491, datetime.datetime(2016, 9, 4, 17, 4, 7), 803, 1),
 (3541, datetime.datetime(2016, 4, 7, 14, 31, 40), 776, 1),
 (1921, datetime.datetime(2015, 7, 8, 19, 3, 40), 773, 1),
 (1561, datetime.datetime(2014, 2, 14, 20, 14, 32), 770, 1),
 (1921, datetime.datetime(2016, 7, 27, 8, 10, 36), 766, 1),
 (3631, datetime.datetime(2016, 4, 17, 6, 9, 41), 761, 1),
 (3311, datetime.datetime(2016, 8, 21, 3, 11, 36), 758, 1),
 (4181, datetime.datetime(2016, 3, 27, 8, 28, 32), 757, 1),
 (4151, datetime.datetime(2016, 6, 23, 11, 33, 54), 749, 1),
 (1531, datetime.datetime(2016, 6, 9, 19, 47), 747, 1),
 (2801, datetime.datetime(2016, 6, 3, 8, 47, 35), 744, 1),
 (4151, datetime.datetime(2015, 2, 7, 18, 25, 28), 744, 1),
 (1681, datetime.datetime(2016, 12, 8, 4, 46, 41), 742, 1),
 (3661, datetime.datetime(2016, 5, 15, 11, 28, 51), 737, 1),
 (1771, datetime.datetime(2016, 10, 17, 22, 50, 1), 734, 1),
 (1191, datetime.datetime(2016, 1, 24, 19, 41, 50), 730, 1),
 (2341, datetime.datetime(2015, 7, 9, 10, 38, 5), 729, 1),
 (2351, datetime.datetime(2015, 1, 3, 22, 31, 31), 725, 1),
 (2391, datetime.datetime(2016, 9, 9, 3, 6, 14), 725, 1),
 (1301, datetime.datetime(2014, 3, 6, 13, 40, 13), 724, 1),
 (2391, datetime.datetime(2016, 8, 10, 16, 34, 31), 722, 1),
 (2411, datetime.datetime(2016, 1, 19, 8, 50, 42), 718, 1),
 (3461, datetime.datetime(2016, 9, 24, 8, 32, 22), 717, 1),
 (1231, datetime.datetime(2016, 3, 27, 11, 31, 53), 715, 1),
 (1181, datetime.datetime(2014, 11, 9, 22, 3, 16), 706, 1),
 (3111, datetime.datetime(2016, 3, 9, 22, 55, 9), 705, 1),
 (1471, datetime.datetime(2017, 1, 1, 6, 30, 42), 704, 1),
 (2101, datetime.datetime(2015, 11, 13, 6, 18, 19), 698, 1),
 (3141, datetime.datetime(2015, 6, 20, 9, 29, 56), 698, 1),
 (3121, datetime.datetime(2016, 8, 31, 10, 49, 23), 695, 1),
 (1441, datetime.datetime(2015, 1, 15, 5, 22, 16), 695, 1),
 (2811, datetime.datetime(2016, 10, 30, 2, 4, 27), 695, 1),
 (4311, datetime.datetime(2014, 1, 2, 3, 2, 1), 693, 1),
 (1781, datetime.datetime(2016, 7, 28, 1, 27), 685, 1),
 (2821, datetime.datetime(2016, 10, 26, 22, 54, 50), 681, 1),
 (3491, datetime.datetime(2016, 6, 6, 20, 12, 4), 680, 1)]

#### 49. Use the NTILE(2) function to divide the accounts into two levels based on the amount of gloss_qty for their orders. The final table should include account_id, occurred_at, gloss_qty, and gloss_half.

In [11]:
%%sql
SELECT 
    account_id,
    occurred_at,
    gloss_qty, 
    NTILE(2) OVER(ORDER BY gloss_qty DESC) AS gloss_half
FROM 
orders_consolidated
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(4211, datetime.datetime(2015, 3, 30, 0, 5, 30), 14281, 1),
 (1521, datetime.datetime(2016, 6, 5, 17, 14, 15), 12012, 1),
 (1701, datetime.datetime(2015, 9, 24, 21, 2, 25), 10744, 1),
 (2461, datetime.datetime(2013, 12, 29, 9, 50, 38), 6450, 1),
 (4451, datetime.datetime(2014, 4, 7, 3, 3, 23), 4489, 1),
 (1871, datetime.datetime(2015, 3, 11, 10, 25, 53), 3775, 1),
 (1541, datetime.datetime(2016, 3, 28, 22, 38, 16), 3370, 1),
 (1231, datetime.datetime(2016, 6, 25, 12, 27, 15), 3178, 1),
 (2681, datetime.datetime(2015, 8, 22, 17, 13, 16), 3032, 1),
 (3001, datetime.datetime(2016, 9, 14, 5, 44, 7), 2802, 1),
 (3051, datetime.datetime(2014, 10, 6, 22, 19, 53), 2464, 1),
 (2651, datetime.datetime(2016, 6, 19, 14, 21, 3), 2206, 1),
 (2181, datetime.datetime(2016, 5, 1, 10, 19, 58), 2158, 1),
 (3391, datetime.datetime(2016, 6, 26, 6, 57, 3), 1911, 1),
 (3881, datetime.datetime(2015, 10, 24, 1, 16, 28), 1886, 1),
 (4011, datetime.datetime(2016, 9, 30, 4, 27, 46), 1781, 1),
 (1281, datetime.datetime(2016, 8, 11, 4, 0, 37), 1729, 1),
 (1441, datetime.datetime(2014, 8, 21, 13, 32, 31), 1682, 1),
 (2461, datetime.datetime(2015, 8, 10, 5, 40, 44), 1634, 1),
 (3471, datetime.datetime(2014, 7, 22, 13, 15, 54), 1573, 1),
 (2931, datetime.datetime(2014, 2, 14, 19, 26, 42), 1572, 1),
 (4201, datetime.datetime(2016, 7, 23, 23, 53, 10), 1510, 1),
 (1581, datetime.datetime(2016, 6, 6, 16, 36, 27), 1467, 1),
 (1831, datetime.datetime(2016, 5, 26, 17, 48, 19), 1448, 1),
 (3431, datetime.datetime(2016, 11, 3, 20, 55, 2), 1378, 1),
 (1421, datetime.datetime(2014, 6, 27, 13, 11, 37), 1358, 1),
 (1221, datetime.datetime(2016, 2, 4, 20, 17, 54), 1345, 1),
 (4421, datetime.datetime(2016, 8, 25, 2, 48, 27), 1341, 1),
 (2131, datetime.datetime(2016, 10, 20, 0, 56, 15), 1328, 1),
 (3491, datetime.datetime(2015, 2, 22, 9, 54, 25), 1246, 1),
 (3251, datetime.datetime(2015, 7, 17, 9, 21, 3), 1166, 1),
 (4271, datetime.datetime(2016, 8, 25, 9, 21, 49), 1134, 1),
 (1211, datetime.datetime(2016, 12, 21, 23, 35, 8), 1064, 1),
 (3711, datetime.datetime(2016, 12, 20, 2, 59, 23), 1054, 1),
 (1141, datetime.datetime(2016, 12, 21, 15, 52, 58), 1045, 1),
 (2051, datetime.datetime(2015, 5, 17, 14, 17, 59), 1041, 1),
 (4271, datetime.datetime(2015, 6, 10, 8, 39, 58), 1032, 1),
 (1921, datetime.datetime(2015, 7, 8, 19, 5, 46), 1012, 1),
 (2821, datetime.datetime(2016, 12, 23, 3, 38, 7), 950, 1),
 (2161, datetime.datetime(2016, 11, 27, 4, 8, 27), 946, 1),
 (2581, datetime.datetime(2016, 10, 19, 12, 46, 51), 945, 1),
 (3251, datetime.datetime(2015, 6, 18, 13, 35, 11), 941, 1),
 (4301, datetime.datetime(2016, 4, 24, 5, 15, 1), 933, 1),
 (2111, datetime.datetime(2014, 5, 25, 12, 21, 31), 924, 1),
 (3711, datetime.datetime(2016, 7, 27, 2, 8, 25), 923, 1),
 (1401, datetime.datetime(2014, 12, 2, 11, 31, 30), 918, 1),
 (3031, datetime.datetime(2016, 10, 6, 14, 54, 29), 901, 1),
 (3781, datetime.datetime(2016, 10, 20, 5, 11, 1), 892, 1),
 (2541, datetime.datetime(2014, 4, 19, 9, 15, 27), 884, 1),
 (3111, datetime.datetime(2015, 6, 20, 21, 59, 40), 883, 1),
 (1451, datetime.datetime(2015, 12, 17, 19, 35, 9), 874, 1),
 (2731, datetime.datetime(2014, 2, 5, 2, 52, 56), 853, 1),
 (2591, datetime.datetime(2016, 9, 4, 10, 56, 54), 853, 1),
 (3561, datetime.datetime(2016, 9, 28, 11, 47, 43), 844, 1),
 (3881, datetime.datetime(2014, 3, 14, 20, 6, 33), 836, 1),
 (2681, datetime.datetime(2015, 5, 25, 6, 12, 13), 832, 1),
 (1301, datetime.datetime(2015, 10, 16, 21, 21, 12), 830, 1),
 (2031, datetime.datetime(2016, 12, 27, 2, 59, 59), 819, 1),
 (2211, datetime.datetime(2016, 10, 12, 2, 57, 20), 809, 1),
 (4201, datetime.datetime(2016, 9, 20, 13, 23, 33), 809, 1),
 (1491, datetime.datetime(2015, 12, 7, 15, 10, 26), 806, 1),
 (2221, datetime.datetime(2016, 12, 13, 4, 7, 18), 805, 1),
 (2111, datetime.datetime(2014, 3, 26, 5, 57, 29), 804, 1),
 (2151, datetime.datetime(2016, 10, 16, 19, 2, 21), 802, 1),
 (1871, datetime.datetime(2013, 12, 22, 19, 48, 13), 796, 1),
 (1921, datetime.datetime(2015, 8, 7, 18, 8, 14), 791, 1),
 (3381, datetime.datetime(2016, 7, 29, 13, 43, 28), 789, 1),
 (1081, datetime.datetime(2015, 7, 11, 23, 23, 23), 785, 1),
 (1301, datetime.datetime(2014, 1, 7, 1, 37, 46), 784, 1),
 (3111, datetime.datetime(2015, 7, 19, 2, 56, 54), 760, 1),
 (2231, datetime.datetime(2014, 3, 29, 2, 4, 29), 756, 1),
 (1921, datetime.datetime(2016, 3, 2, 13, 28, 58), 748, 1),
 (4431, datetime.datetime(2016, 2, 12, 17, 14, 47), 748, 1),
 (2351, datetime.datetime(2015, 9, 26, 20, 43, 29), 747, 1),
 (3261, datetime.datetime(2015, 8, 11, 9, 33, 19), 746, 1),
 (2011, datetime.datetime(2016, 11, 13, 18, 9, 19), 739, 1),
 (2671, datetime.datetime(2016, 5, 30, 20, 25, 30), 738, 1),
 (1261, datetime.datetime(2016, 3, 26, 9, 32, 35), 731, 1),
 (1311, datetime.datetime(2016, 8, 6, 23, 33, 32), 728, 1),
 (1431, datetime.datetime(2016, 6, 25, 9, 59, 7), 723, 1),
 (1581, datetime.datetime(2016, 6, 6, 16, 47, 20), 723, 1),
 (1401, datetime.datetime(2015, 3, 1, 12, 40, 9), 722, 1),
 (2411, datetime.datetime(2014, 8, 9, 8, 24, 54), 719, 1),
 (3601, datetime.datetime(2016, 9, 19, 3, 40, 23), 716, 1),
 (3631, datetime.datetime(2016, 8, 15, 4, 24, 31), 715, 1),
 (2581, datetime.datetime(2016, 12, 18, 15, 8, 38), 712, 1),
 (1251, datetime.datetime(2014, 8, 4, 19, 38, 39), 712, 1),
 (3411, datetime.datetime(2016, 7, 11, 21, 9, 12), 710, 1),
 (2591, datetime.datetime(2014, 8, 31, 13, 9, 5), 707, 1),
 (1911, datetime.datetime(2016, 12, 4, 20, 13, 53), 704, 1),
 (3411, datetime.datetime(2015, 3, 28, 14, 19, 35), 693, 1),
 (2941, datetime.datetime(2016, 12, 28, 7, 45, 50), 690, 1),
 (2111, datetime.datetime(2014, 1, 26, 13, 22, 2), 688, 1),
 (3241, datetime.datetime(2016, 4, 25, 22, 35, 34), 687, 1),
 (2461, datetime.datetime(2014, 3, 28, 3, 40, 57), 684, 1),
 (2681, datetime.datetime(2016, 1, 18, 5, 43, 5), 683, 1),
 (1081, datetime.datetime(2015, 9, 7, 15, 39, 4), 683, 1),
 (2671, datetime.datetime(2015, 6, 9, 17, 47, 26), 682, 1),
 (4031, datetime.datetime(2016, 8, 5, 5, 37), 682, 1),
 (1921, datetime.datetime(2016, 7, 27, 8, 10, 36), 680, 1)]

#### 50. Use the NTILE(100) function to divide the orders for each account into 100 percentile levels based on total_amt_usd. The final table should include account_id, occurred_at, total_amt_usd, and total_percentile.

In [12]:
%%sql
SELECT 
    account_id,
    occurred_at,
    total_amt_usd DESC, 
    NTILE(100) OVER(ORDER BY total_amt_usd) AS total_percentile
FROM orders_consolidated
ORDER BY total_amt_usd DESC

 * postgresql://postgres:***@localhost:5432/postgres
6912 rows affected.

[(4251, datetime.datetime(2016, 12, 26, 8, 53, 24), Decimal('232207.07'), 100),
 (4161, datetime.datetime(2016, 6, 24, 13, 32, 55), Decimal('112875.18'), 100),
 (4211, datetime.datetime(2015, 3, 30, 0, 5, 30), Decimal('107533.55'), 100),
 (2861, datetime.datetime(2014, 10, 24, 12, 6, 22), Decimal('95005.82'), 100),
 (4101, datetime.datetime(2016, 7, 17, 14, 50, 43), Decimal('93547.84'), 100),
 (4111, datetime.datetime(2015, 11, 7, 10, 43, 47), Decimal('93505.69'), 100),
 (1301, datetime.datetime(2015, 4, 21, 21, 43, 17), Decimal('93106.81'), 100),
 (1521, datetime.datetime(2016, 6, 5, 17, 14, 15), Decimal('92991.05'), 100),
 (1341, datetime.datetime(2016, 10, 26, 0, 19, 31), Decimal('84099.62'), 100),
 (4151, datetime.datetime(2016, 10, 19, 18, 3, 43), Decimal('82163.71'), 100),
 (1701, datetime.datetime(2015, 9, 24, 21, 2, 25), Decimal('81243.96'), 100),
 (1831, datetime.datetime(2016, 7, 24, 2, 32, 3), Decimal('77285.75'), 100),
 (2461, datetime.datetime(2013, 12, 29, 9, 50, 38), Decimal('48675.90'), 100),
 (2441, datetime.datetime(2016, 10, 21, 21, 8, 1), Decimal('45465.23'), 100),
 (1451, datetime.datetime(2015, 2, 26, 6, 13, 21), Decimal('43421.28'), 100),
 (2041, datetime.datetime(2014, 10, 5, 15, 37, 22), Decimal('40928.70'), 100),
 (4451, datetime.datetime(2014, 4, 7, 3, 3, 23), Decimal('36123.87'), 100),
 (2461, datetime.datetime(2016, 7, 1, 18, 31, 59), Decimal('34016.55'), 100),
 (3811, datetime.datetime(2016, 12, 3, 4, 27, 52), Decimal('31873.12'), 100),
 (1541, datetime.datetime(2016, 3, 28, 22, 38, 16), Decimal('31329.24'), 100),
 (1871, datetime.datetime(2015, 3, 11, 10, 25, 53), Decimal('30541.97'), 100),
 (1781, datetime.datetime(2015, 9, 5, 5, 58, 4), Decimal('30279.45'), 100),
 (1281, datetime.datetime(2016, 8, 11, 4, 0, 37), Decimal('29699.28'), 100),
 (2441, datetime.datetime(2016, 9, 21, 18, 16, 12), Decimal('29255.80'), 100),
 (4111, datetime.datetime(2014, 4, 24, 16, 41), Decimal('28229.14'), 100),
 (3101, datetime.datetime(2014, 5, 27, 16, 11, 5), Decimal('28073.65'), 100),
 (1111, datetime.datetime(2015, 11, 15, 17, 47, 46), Decimal('27902.70'), 100),
 (3711, datetime.datetime(2016, 12, 20, 3, 16, 3), Decimal('27484.48'), 100),
 (1141, datetime.datetime(2016, 12, 21, 15, 52, 58), Decimal('26055.46'), 100),
 (2861, datetime.datetime(2016, 9, 29, 4, 51, 11), Decimal('25800.04'), 100),
 (1161, datetime.datetime(2016, 6, 4, 8, 58, 10), Decimal('24885.98'), 100),
 (2681, datetime.datetime(2015, 8, 22, 17, 13, 16), Decimal('24111.28'), 100),
 (2911, datetime.datetime(2016, 10, 30, 22, 27, 57), Decimal('24000.14'), 100),
 (1231, datetime.datetime(2016, 6, 25, 12, 27, 15), Decimal('23989.98'), 100),
 (3721, datetime.datetime(2016, 9, 23, 23, 32, 59), Decimal('22694.65'), 100),
 (2631, datetime.datetime(2016, 9, 21, 10, 48, 36), Decimal('22460.24'), 100),
 (1931, datetime.datetime(2016, 7, 30, 22, 29, 57), Decimal('22224.13'), 100),
 (3001, datetime.datetime(2016, 9, 14, 5, 44, 7), Decimal('21498.54'), 100),
 (2581, datetime.datetime(2016, 11, 18, 8, 43, 56), Decimal('21152.53'), 100),
 (4311, datetime.datetime(2014, 3, 31, 15, 5, 7), Decimal('21032.39'), 100),
 (3051, datetime.datetime(2014, 10, 6, 22, 19, 53), Decimal('20855.55'), 100),
 (2101, datetime.datetime(2016, 2, 10, 0, 12, 26), Decimal('20613.50'), 100),
 (2651, datetime.datetime(2016, 6, 19, 14, 21, 3), Decimal('20362.41'), 100),
 (3341, datetime.datetime(2016, 11, 26, 6, 56, 12), Decimal('19494.72'), 100),
 (3451, datetime.datetime(2016, 12, 11, 22, 27, 24), Decimal('19195.48'), 100),
 (2341, datetime.datetime(2015, 6, 10, 9, 51, 38), Decimal('18917.77'), 100),
 (2181, datetime.datetime(2016, 5, 1, 10, 19, 58), Decimal('18784.55'), 100),
 (1121, datetime.datetime(2015, 10, 24, 15, 55, 41), Decimal('18618.65'), 100),
 (3251, datetime.datetime(2014, 12, 23, 8, 27, 7), Decimal('17859.13'), 100),
 (1871, datetime.datetime(2014, 2, 20, 0, 33, 55), Decimal('17265.41'), 100),
 (2701, datetime.datetime(2016, 3, 22, 22, 43), Decimal('17148.32'), 100),
 (1881, datetime.datetime(2016, 4, 11, 13, 48, 43), Decimal('16998.48'), 100),
 (3881, datetime.datetime(2015, 10, 24, 1, 16, 28), Decimal('16631.12'), 100),
 (1881, datetime.datetime(2013, 12, 8, 18, 32, 52), Decimal('16375.46'), 100),
 (2101, datetime.datetime(2016, 11, 1, 18, 4, 17), Decimal('16112.79'), 100),
 (2341, datetime.datetime(2015, 10, 6, 5, 44, 53), Decimal('16076.39'), 100),
 (4011, datetime.datetime(2016, 9, 30, 4, 27, 46), Decimal('15914.71'), 100),
 (1441, datetime.datetime(2014, 8, 21, 13, 32, 31), Decimal('15887.15'), 100),
 (4271, datetime.datetime(2016, 3, 3, 9, 25, 58), Decimal('15849.34'), 100),
 (3391, datetime.datetime(2016, 6, 26, 6, 57, 3), Decimal('15758.22'), 100),
 (2671, datetime.datetime(2015, 7, 9, 6, 47, 21), Decimal('15700.39'), 100),
 (1801, datetime.datetime(2016, 1, 1, 18, 43, 36), Decimal('15082.64'), 100),
 (4291, datetime.datetime(2014, 12, 16, 10, 20), Decimal('14938.44'), 100),
 (2931, datetime.datetime(2014, 2, 14, 19, 26, 42), Decimal('14729.92'), 100),
 (3571, datetime.datetime(2016, 9, 18, 15, 30, 41), Decimal('14608.23'), 100),
 (2931, datetime.datetime(2016, 1, 18, 9, 21, 18), Decimal('14565.11'), 100),
 (3451, datetime.datetime(2016, 11, 12, 9, 59, 46), Decimal('14312.29'), 100),
 (1421, datetime.datetime(2014, 6, 27, 13, 11, 37), Decimal('14054.42'), 100),
 (1561, datetime.datetime(2015, 12, 21, 21, 23, 23), Decimal('13974.33'), 100),
 (4421, datetime.datetime(2016, 8, 25, 2, 48, 27), Decimal('13972.20'), 99),
 (2131, datetime.datetime(2016, 10, 20, 0, 56, 15), Decimal('13947.39'), 99),
 (2331, datetime.datetime(2014, 2, 8, 12, 46, 47), Decimal('13733.35'), 99),
 (1231, datetime.datetime(2016, 11, 20, 15, 16, 58), Decimal('13522.55'), 99),
 (1921, datetime.datetime(2016, 3, 2, 13, 28, 58), Decimal('13262.11'), 99),
 (1741, datetime.datetime(2016, 10, 1, 9, 11, 19), Decimal('13226.23'), 99),
 (2301, datetime.datetime(2015, 4, 20, 20, 59, 42), Decimal('13211.32'), 99),
 (1831, datetime.datetime(2016, 5, 26, 17, 48, 19), Decimal('13175.96'), 99),
 (2461, datetime.datetime(2015, 8, 10, 5, 40, 44), Decimal('12995.00'), 99),
 (3431, datetime.datetime(2016, 11, 3, 20, 55, 2), Decimal('12880.52'), 99),
 (2451, datetime.datetime(2016, 12, 18, 20, 23, 38), Decimal('12798.78'), 99),
 (2671, datetime.datetime(2016, 10, 25, 5, 51, 1), Decimal('12746.43'), 99),
 (1221, datetime.datetime(2016, 2, 4, 20, 17, 54), Decimal('12664.72'), 99),
 (1081, datetime.datetime(2015, 9, 7, 15, 39, 4), Decimal('12352.77'), 99),
 (2931, datetime.datetime(2013, 12, 18, 23, 41, 14), Decimal('12259.48'), 99),
 (1191, datetime.datetime(2016, 5, 21, 23, 21, 14), Decimal('12079.83'), 99),
 (3471, datetime.datetime(2014, 7, 22, 13, 15, 54), Decimal('12070.69'), 99),
 (1701, datetime.datetime(2016, 3, 19, 21, 50, 29), Decimal('12056.95'), 99),
 (4201, datetime.datetime(2016, 7, 23, 23, 53, 10), Decimal('12053.77'), 99),
 (1581, datetime.datetime(2016, 6, 6, 16, 36, 27), Decimal('11860.85'), 99),
 (3911, datetime.datetime(2014, 10, 21, 5, 21, 46), Decimal('11761.04'), 99),
 (4201, datetime.datetime(2016, 9, 20, 13, 23, 33), Decimal('11749.29'), 99),
 (2441, datetime.datetime(2016, 8, 23, 15, 31, 59), Decimal('11745.44'), 99),
 (3141, datetime.datetime(2013, 12, 8, 20, 13, 49), Decimal('11743.13'), 99),
 (3981, datetime.datetime(2014, 8, 19, 14, 18, 14), Decimal('11656.88'), 99),
 (2911, datetime.datetime(2016, 7, 4, 21, 51, 56), Decimal('11608.05'), 99),
 (3471, datetime.datetime(2015, 11, 2, 23, 45, 50), Decimal('11544.51'), 99),
 (3761, datetime.datetime(2016, 12, 6, 0, 15, 51), Decimal('11485.54'), 99),
 (1921, datetime.datetime(2015, 7, 8, 19, 5, 46), Decimal('11471.52'), 99),
 (1181, datetime.datetime(2016, 4, 24, 16, 47, 51), Decimal('11390.06'), 99),
 (2581, datetime.datetime(2016, 10, 19, 12, 46, 51), Decimal('11365.03'), 99),
 (3101, datetime.datetime(2014, 2, 27, 12, 11, 47), Decimal('11302.15'), 99),
 (3251, datetime.datetime(2015, 7, 17, 9, 21, 3), Decimal('11287.33'), 99),
 (2821, datetime.datetime(2016, 12, 23, 3, 38, 7), Decimal('11264.85'), 99),
 (1301, datetime.datetime(2014, 12, 26, 2, 30, 38), Decimal('11208.11'), 99),
 (2111, datetime.datetime(2014, 5, 25, 12, 21, 31), Decimal('11093.97'), 99),
 (2161, datetime.datetime(2016, 11, 27, 4, 8, 27), Decimal('11049.08'), 99),
 (2191, datetime.datetime(2016, 7, 14, 2, 53, 19), Decimal('10923.54'), 99),
 (4271, datetime.datetime(2016, 8, 25, 9, 21, 49), Decimal('10866.29'), 99),
 (1491, datetime.datetime(2015, 5, 15, 2, 40, 44), Decimal('10823.87'), 99),
 (3131, datetime.datetime(2016, 9, 22, 14, 59, 15), Decimal('10822.78'), 99),
 (2241, datetime.datetime(2016, 4, 5, 13, 39, 34), Decimal('10793.35'), 99),
 (3411, datetime.datetime(2014, 4, 9, 18, 42, 46), Decimal('10622.41'), 99),
 (4201, datetime.datetime(2016, 11, 18, 12, 57, 15), Decimal('10590.72'), 99),
 (3431, datetime.datetime(2014, 10, 27, 14, 32, 53), Decimal('10569.91'), 99),
 (3991, datetime.datetime(2016, 12, 17, 1, 26, 49), Decimal('10534.15'), 99),
 (1921, datetime.datetime(2016, 7, 27, 8, 10, 36), Decimal('10507.06'), 99),
 (4431, datetime.datetime(2016, 1, 13, 17, 21, 20), Decimal('10504.18'), 99),
 (1561, datetime.datetime(2014, 2, 14, 20, 14, 32), Decimal('10456.53'), 99),
 (1451, datetime.datetime(2015, 10, 20, 9, 49, 53), Decimal('10436.88'), 99),
 (2111, datetime.datetime(2014, 3, 26, 5, 57, 29), Decimal('10392.00'), 99),
 (1401, datetime.datetime(2015, 12, 23, 10, 21, 56), Decimal('10381.21'), 99),
 (2671, datetime.datetime(2016, 6, 29, 8, 16, 21), Decimal('10360.78'), 99),
 (2371, datetime.datetime(2015, 4, 17, 3, 51, 12), Decimal('10355.08'), 99),
 (3111, datetime.datetime(2015, 6, 20, 21, 59, 40), Decimal('10313.24'), 99),
 (4031, datetime.datetime(2016, 3, 13, 8, 13, 6), Decimal('10312.04'), 99),
 (3381, datetime.datetime(2016, 7, 29, 13, 43, 28), Decimal('10204.62'), 99),
 (4271, datetime.datetime(2015, 6, 10, 8, 39, 58), Decimal('10124.88'), 99),
 (2991, datetime.datetime(2016, 5, 29, 23, 15, 14), Decimal('10116.04'), 99),
 (1581, datetime.datetime(2016, 6, 6, 16, 47, 20), Decimal('10053.23'), 99),
 (2671, datetime.datetime(2016, 5, 30, 20, 25, 30), Decimal('10023.68'), 99),
 (3111, datetime.datetime(2015, 7, 19, 2, 56, 54), Decimal('10022.34'), 99),
 (1871, datetime.datetime(2016, 11, 16, 2, 24, 40), Decimal('10019.37'), 99),
 (2161, datetime.datetime(2016, 12, 26, 17, 9, 25), Decimal('10004.20'), 99),
 (2391, datetime.datetime(2016, 9, 9, 3, 6, 14), Decimal('9977.32'), 99),
 (1081, datetime.datetime(2015, 7, 11, 23, 23, 23), Decimal('9947.32'), 99),
 (3711, datetime.datetime(2016, 7, 27, 2, 8, 25), Decimal('9917.67'), 99),
 (2591, datetime.datetime(2016, 9, 4, 10, 56, 54), Decimal('9900.95'), 99),
 (1371, datetime.datetime(2016, 10, 2, 8, 20, 34), Decimal('9876.22'), 99),
 (2831, datetime.datetime(2016, 9, 18, 23, 39, 46), Decimal('9875.19'), 98),
 (3491, datetime.datetime(2016, 8, 5, 8, 21, 2), Decimal('9844.18'), 98),
 (1631, datetime.datetime(2016, 9, 6, 6, 34, 57), Decimal('9841.12'), 98),
 (1301, datetime.datetime(2014, 3, 6, 13, 40, 13), Decimal('9824.49'), 98),
 (2351, datetime.datetime(2014, 6, 11, 3, 28, 56), Decimal('9753.41'), 98),
 (1351, datetime.datetime(2016, 12, 15, 4, 46, 5), Decimal('9736.43'), 98),
 (3111, datetime.datetime(2015, 11, 12, 23, 29, 22), Decimal('9733.33'), 98),
 (1471, datetime.datetime(2017, 1, 1, 6, 30, 42), Decimal('9711.46'), 98),
 (1921, datetime.datetime(2015, 5, 9, 13, 25, 46), Decimal('9701.09'), 98),
 (1541, datetime.datetime(2015, 7, 6, 17, 44, 31), Decimal('9694.38'), 98),
 (2391, datetime.datetime(2016, 8, 10, 16, 34, 31), Decimal('9662.05'), 98),
 (3251, datetime.datetime(2015, 6, 18, 13, 35, 11), Decimal('9649.44'), 98),
 (2221, datetime.datetime(2016, 12, 13, 4, 7, 18), Decimal('9571.84'), 98),
 (1301, datetime.datetime(2015, 10, 16, 21, 21, 12), Decimal('9548.92'), 98),
 (2581, datetime.datetime(2016, 12, 18, 15, 8, 38), Decimal('9525.64'), 98),
 (1431, datetime.datetime(2016, 6, 25, 9, 59, 7), Decimal('9524.79'), 98),
 (1441, datetime.datetime(2015, 1, 15, 5, 22, 16), Decimal('9481.68'), 98),
 (1001, datetime.datetime(2015, 12, 4, 4, 1, 9), Decimal('9426.71'), 98),
 (1301, datetime.datetime(2015, 1, 24, 6, 7, 44), Decimal('9419.96'), 98),
 (4281, datetime.datetime(2016, 9, 25, 23, 20, 32), Decimal('9419.40'), 98),
 (2141, datetime.datetime(2015, 11, 27, 4, 17, 4), Decimal('9414.76'), 98),
 (3031, datetime.datetime(2016, 10, 6, 14, 54, 29), Decimal('9398.38'), 98),
 (4431, datetime.datetime(2015, 8, 17, 18, 54, 15), Decimal('9394.96'), 98),
 (3711, datetime.datetime(2016, 12, 20, 2, 59, 23), Decimal('9394.59'), 98),
 (3611, datetime.datetime(2016, 11, 17, 15, 18, 13), Decimal('9393.93'), 98),
 (1301, datetime.datetime(2014, 8, 30, 4, 30, 4), Decimal('9388.68'), 98),
 (4431, datetime.datetime(2016, 2, 12, 17, 14, 47), Decimal('9380.66'), 98),
 (2241, datetime.datetime(2016, 3, 6, 4, 22, 22), Decimal('9369.53'), 98),
 (1761, datetime.datetime(2016, 10, 5, 3, 2, 26), Decimal('9366.37'), 98),
 (2821, datetime.datetime(2016, 10, 26, 22, 54, 50), Decimal('9364.22'), 98),
 (1401, datetime.datetime(2016, 4, 19, 3, 11, 21), Decimal('9350.88'), 98),
 (3111, datetime.datetime(2016, 5, 6, 2, 14, 26), Decimal('9343.76'), 98),
 (3241, datetime.datetime(2016, 4, 25, 22, 35, 34), Decimal('9341.52'), 98),
 (1561, datetime.datetime(2015, 3, 3, 0, 35, 21), Decimal('9340.04'), 98),
 (3491, datetime.datetime(2015, 2, 22, 9, 54, 25), Decimal('9332.54'), 98),
 (3221, datetime.datetime(2014, 6, 20, 11, 36, 36), Decimal('9327.81'), 98),
 (4201, datetime.datetime(2016, 4, 25, 5, 46, 57), Decimal('9316.28'), 98),
 (1921, datetime.datetime(2015, 8, 7, 18, 8, 14), Decimal('9314.96'), 98),
 (1331, datetime.datetime(2016, 11, 14, 14, 1, 1), Decimal('9301.81'), 98),
 (1451, datetime.datetime(2015, 11, 18, 2, 13, 23), Decimal('9287.39'), 98),
 (1501, datetime.datetime(2016, 3, 15, 5, 59, 9), Decimal('9276.90'), 98),
 (2861, datetime.datetime(2016, 6, 4, 23, 21, 4), Decimal('9270.83'), 98),
 (3221, datetime.datetime(2014, 10, 16, 14, 9, 19), Decimal('9264.50'), 98),
 (4271, datetime.datetime(2015, 12, 5, 21, 26, 42), Decimal('9264.43'), 98),
 (1301, datetime.datetime(2016, 11, 29, 21, 8, 51), Decimal('9261.53'), 98),
 (2941, datetime.datetime(2016, 12, 28, 7, 45, 50), Decimal('9246.41'), 98),
 (1881, datetime.datetime(2013, 12, 8, 18, 24, 52), Decimal('9234.23'), 98),
 (1001, datetime.datetime(2016, 1, 2, 0, 59, 9), Decimal('9230.67'), 98),
 (4431, datetime.datetime(2016, 11, 1, 18, 6, 3), Decimal('9230.66'), 98),
 (2011, datetime.datetime(2016, 11, 13, 18, 9, 19), Decimal('9226.88'), 98),
 (4151, datetime.datetime(2016, 6, 23, 11, 33, 54), Decimal('9221.31'), 98),
 (2111, datetime.datetime(2014, 8, 21, 15, 16, 31), Decimal('9198.31'), 98),
 (1301, datetime.datetime(2014, 1, 7, 1, 37, 46), Decimal('9191.72'), 98),
 (1351, datetime.datetime(2016, 8, 21, 13, 35, 3), Decimal('9190.42'), 98),
 (4131, datetime.datetime(2016, 12, 12, 16, 34, 28), Decimal('9178.00'), 98),
 (3951, datetime.datetime(2016, 12, 19, 14, 16, 9), Decimal('9161.24'), 98),
 (4211, datetime.datetime(2014, 5, 9, 12, 14, 9), Decimal('9157.14'), 98),
 (2101, datetime.datetime(2016, 3, 10, 21, 21, 10), Decimal('9154.43'), 98),
 (3241, datetime.datetime(2016, 11, 17, 21, 43, 42), Decimal('9154.28'), 98),
 (2681, datetime.datetime(2016, 6, 13, 10, 53, 53), Decimal('9143.51'), 98),
 (2561, datetime.datetime(2016, 12, 23, 11, 44, 59), Decimal('9136.65'), 98),
 (1001, datetime.datetime(2016, 8, 28, 6, 50, 58), Decimal('9134.31'), 98),
 (1451, datetime.datetime(2015, 12, 17, 19, 35, 9), Decimal('9130.60'), 98),
 (2821, datetime.datetime(2016, 7, 31, 1, 20, 30), Decimal('9118.11'), 98),
 (3101, datetime.datetime(2014, 1, 29, 16, 10, 51), Decimal('9108.80'), 98),
 (1301, datetime.datetime(2014, 10, 28, 3, 15, 54), Decimal('9108.66'), 98),
 (2151, datetime.datetime(2016, 7, 19, 9, 39, 45), Decimal('9106.72'), 98),
 (3781, datetime.datetime(2016, 10, 20, 5, 11, 1), Decimal('9104.38'), 98),
 (2011, datetime.datetime(2016, 9, 15, 7, 3, 35), Decimal('9098.45'), 98),
 (2011, datetime.datetime(2016, 8, 16, 1, 56, 27), Decimal('9085.47'), 97),
 (4421, datetime.datetime(2016, 10, 23, 14, 21, 5), Decimal('9080.55'), 97),
 (1481, datetime.datetime(2016, 12, 19, 12, 28, 36), Decimal('9078.63'), 97),
 (4211, datetime.datetime(2015, 7, 26, 14, 23, 13), Decimal('9071.74'), 97),
 (1981, datetime.datetime(2016, 4, 6, 5, 23, 59), Decimal('9066.73'), 97),
 (2291, datetime.datetime(2016, 7, 29, 11, 4, 39), Decimal('9066.29'), 97),
 (3011, datetime.datetime(2016, 5, 23, 7, 45, 58), Decimal('9064.22'), 97),
 (3291, datetime.datetime(2016, 10, 10, 22, 54, 46), Decimal('9061.80'), 97),
 (1581, datetime.datetime(2016, 9, 2, 11, 8, 9), Decimal('9061.70'), 97),
 (1541, datetime.datetime(2016, 2, 27, 15, 51, 34), Decimal('9051.42'), 97),
 (2041, datetime.datetime(2015, 9, 22, 14, 22, 42), Decimal('9049.33'), 97),
 (1301, datetime.datetime(2014, 7, 31, 13, 21, 10), Decimal('9047.03'), 97),
 (3871, datetime.datetime(2016, 11, 18, 20, 43, 31), Decimal('9033.82'), 97),
 (2671, datetime.datetime(2015, 6, 9, 17, 47, 26), Decimal('9031.62'), 97),
 (2231, datetime.datetime(2014, 3, 29, 2, 4, 29), Decimal('9024.58'), 97),
 (2151, datetime.datetime(2016, 6, 19, 21, 22, 55), Decimal('9024.56'), 97),
 (1251, datetime.datetime(2014, 3, 8, 6, 36, 38), Decimal('9021.14'), 97),
 (1401, datetime.datetime(2016, 5, 18, 0, 25, 5), Decimal('9009.15'), 97),
 (1451, datetime.datetime(2016, 2, 13, 9, 4, 35), Decimal('9004.50'), 97),
 (1211, datetime.datetime(2016, 12, 21, 23, 35, 8), Decimal('8999.06'), 97),
 (2651, datetime.datetime(2016, 4, 21, 12, 19, 42), Decimal('8991.33'), 97),
 (4301, datetime.datetime(2016, 4, 24, 5, 15, 1), Decimal('8985.06'), 97),
 (2011, datetime.datetime(2016, 12, 13, 22, 46, 29), Decimal('8978.31'), 97),
 (2541, datetime.datetime(2014, 4, 19, 9, 15, 27), Decimal('8975.96'), 97),
 (1001, datetime.datetime(2016, 9, 26, 23, 22, 47), Decimal('8963.91'), 97),
 (3561, datetime.datetime(2016, 9, 28, 11, 47, 43), Decimal('8963.31'), 97),
 (1581, datetime.datetime(2016, 12, 1, 19, 9, 16), Decimal('8959.09'), 97),
 (4191, datetime.datetime(2015, 12, 10, 16, 40, 49), Decimal('8954.43'), 97),
 (1251, datetime.datetime(2014, 12, 1, 9, 39, 8), Decimal('8950.61'), 97),
 (4291, datetime.datetime(2016, 3, 4, 16, 6, 50), Decimal('8949.12'), 97),
 (1621, datetime.datetime(2016, 12, 7, 7, 42, 17), Decimal('8948.85'), 97),
 (4201, datetime.datetime(2016, 5, 25, 11, 44, 40), Decimal('8944.00'), 97),
 (4131, datetime.datetime(2016, 11, 12, 1, 48, 31), Decimal('8927.39'), 97),
 (4431, datetime.datetime(2016, 9, 3, 8, 34, 33), Decimal('8926.80'), 97),
 (2041, datetime.datetime(2016, 2, 18, 13, 54, 44), Decimal('8924.49'), 97),
 (1251, datetime.datetime(2014, 6, 6, 16, 10, 23), Decimal('8916.52'), 97),
 (1541, datetime.datetime(2015, 11, 30, 19, 26, 12), Decimal('8908.37'), 97),
 (2671, datetime.datetime(2016, 8, 27, 2, 51, 23), Decimal('8892.99'), 97),
 (2671, datetime.datetime(2015, 1, 15, 8, 5, 18), Decimal('8887.09'), 97),
 (2371, datetime.datetime(2014, 9, 20, 21, 5, 35), Decimal('8877.01'), 97),
 (1081, datetime.datetime(2015, 4, 12, 4, 39, 51), Decimal('8868.55'), 97),
 (1001, datetime.datetime(2016, 5, 31, 21, 9, 48), Decimal('8863.24'), 97),
 (1331, datetime.datetime(2016, 12, 13, 21, 0, 28), Decimal('8855.47'), 97),
 (2821, datetime.datetime(2016, 9, 27, 4, 42, 31), Decimal('8849.78'), 97),
 (1491, datetime.datetime(2015, 11, 7, 10, 28, 13), Decimal('8847.65'), 97),
 (3291, datetime.datetime(2016, 12, 9, 20, 50, 45), Decimal('8842.21'), 97),
 (4211, datetime.datetime(2014, 4, 9, 16, 9, 1), Decimal('8837.02'), 97),
 (2261, datetime.datetime(2016, 10, 29, 21, 56, 24), Decimal('8836.64'), 97),
 (1581, datetime.datetime(2016, 7, 5, 11, 21, 40), Decimal('8835.96'), 97),
 (3101, datetime.datetime(2014, 3, 29, 7, 54, 52), Decimal('8826.08'), 97),
 (2371, datetime.datetime(2015, 5, 16, 3, 30, 9), Decimal('8825.70'), 97),
 (2881, datetime.datetime(2015, 2, 9, 19, 19, 23), Decimal('8822.53'), 97),

#### 51. Determine how the current order's total revenue ("total" meaning from sales of all types of paper) compares to the next order's total revenue. (There should be four columns: occurred_at, total_amt_usd, lead, and lead_difference.)

In [13]:
%%sql 
SELECT 
    occurred_at,
    total_amt_usd,
    LEAD(total_amt_usd, 1) OVER( ORDER BY occurred_at) AS lead,
    total_amt_usd - LEAD(total_amt_usd, 1) OVER( ORDER BY occurred_at) AS lead_difference
FROM orders_consolidated
ORDER BY occurred_at
LIMIT 100

 * postgresql://postgres:***@localhost:5432/postgres
100 rows affected.

[(datetime.datetime(2013, 12, 4, 4, 22, 44), Decimal('627.48'), Decimal('2646.77'), Decimal('-2019.29')),
 (datetime.datetime(2013, 12, 4, 4, 45, 54), Decimal('2646.77'), Decimal('2709.62'), Decimal('-62.85')),
 (datetime.datetime(2013, 12, 4, 4, 53, 25), Decimal('2709.62'), Decimal('277.13'), Decimal('2432.49')),
 (datetime.datetime(2013, 12, 5, 20, 29, 16), Decimal('277.13'), Decimal('3001.85'), Decimal('-2724.72')),
 (datetime.datetime(2013, 12, 5, 20, 33, 56), Decimal('3001.85'), Decimal('2802.90'), Decimal('198.95')),
 (datetime.datetime(2013, 12, 6, 2, 13, 20), Decimal('2802.90'), Decimal('7009.18'), Decimal('-4206.28')),
 (datetime.datetime(2013, 12, 6, 12, 55, 22), Decimal('7009.18'), Decimal('1992.13'), Decimal('5017.05')),
 (datetime.datetime(2013, 12, 6, 12, 57, 41), Decimal('1992.13'), Decimal('6680.06'), Decimal('-4687.93')),
 (datetime.datetime(2013, 12, 6, 13, 14, 47), Decimal('6680.06'), Decimal('2075.94'), Decimal('4604.12')),
 (datetime.datetime(2013, 12, 6, 13, 17, 25), Decimal('2075.94'), Decimal('1086.29'), Decimal('989.65')),
 (datetime.datetime(2013, 12, 6, 23, 45, 16), Decimal('1086.29'), Decimal('2424.64'), Decimal('-1338.35')),
 (datetime.datetime(2013, 12, 6, 23, 47, 45), Decimal('2424.64'), Decimal('2583.70'), Decimal('-159.06')),
 (datetime.datetime(2013, 12, 8, 0, 54, 42), Decimal('2583.70'), Decimal('6074.41'), Decimal('-3490.71')),
 (datetime.datetime(2013, 12, 8, 6, 34, 23), Decimal('6074.41'), Decimal('1350.60'), Decimal('4723.81')),
 (datetime.datetime(2013, 12, 8, 7, 5, 7), Decimal('1350.60'), Decimal('8230.27'), Decimal('-6879.67')),
 (datetime.datetime(2013, 12, 8, 7, 11, 38), Decimal('8230.27'), Decimal('9234.23'), Decimal('-1003.96')),
 (datetime.datetime(2013, 12, 8, 18, 24, 52), Decimal('9234.23'), Decimal('16375.46'), Decimal('-7141.23')),
 (datetime.datetime(2013, 12, 8, 18, 32, 52), Decimal('16375.46'), Decimal('11743.13'), Decimal('4632.33')),
 (datetime.datetime(2013, 12, 8, 20, 13, 49), Decimal('11743.13'), Decimal('2702.99'), Decimal('9040.14')),
 (datetime.datetime(2013, 12, 8, 20, 37, 53), Decimal('2702.99'), Decimal('2400.19'), Decimal('302.80')),
 (datetime.datetime(2013, 12, 9, 15, 39, 2), Decimal('2400.19'), Decimal('322.07'), Decimal('2078.12')),
 (datetime.datetime(2013, 12, 9, 15, 42, 23), Decimal('322.07'), Decimal('2497.55'), Decimal('-2175.48')),
 (datetime.datetime(2013, 12, 9, 22, 19, 26), Decimal('2497.55'), Decimal('693.28'), Decimal('1804.27')),
 (datetime.datetime(2013, 12, 10, 14, 36, 56), Decimal('693.28'), Decimal('2499.99'), Decimal('-1806.71')),
 (datetime.datetime(2013, 12, 10, 14, 43, 18), Decimal('2499.99'), Decimal('884.66'), Decimal('1615.33')),
 (datetime.datetime(2013, 12, 10, 16, 10, 52), Decimal('884.66'), Decimal('3188.61'), Decimal('-2303.95')),
 (datetime.datetime(2013, 12, 10, 16, 25, 51), Decimal('3188.61'), Decimal('1982.02'), Decimal('1206.59')),
 (datetime.datetime(2013, 12, 11, 3, 17, 57), Decimal('1982.02'), Decimal('7329.42'), Decimal('-5347.40')),
 (datetime.datetime(2013, 12, 11, 3, 42, 54), Decimal('7329.42'), Decimal('1378.97'), Decimal('5950.45')),
 (datetime.datetime(2013, 12, 11, 7, 45, 7), Decimal('1378.97'), Decimal('1551.89'), Decimal('-172.92')),
 (datetime.datetime(2013, 12, 11, 16, 34, 12), Decimal('1551.89'), Decimal('997.33'), Decimal('554.56')),
 (datetime.datetime(2013, 12, 11, 20, 36, 6), Decimal('997.33'), Decimal('8690.66'), Decimal('-7693.33')),
 (datetime.datetime(2013, 12, 11, 20, 42, 9), Decimal('8690.66'), Decimal('1879.03'), Decimal('6811.63')),
 (datetime.datetime(2013, 12, 12, 4, 47, 28), Decimal('1879.03'), Decimal('733.89'), Decimal('1145.14')),
 (datetime.datetime(2013, 12, 12, 9, 48, 16), Decimal('733.89'), Decimal('8680.34'), Decimal('-7946.45')),
 (datetime.datetime(2013, 12, 12, 9, 54, 34), Decimal('8680.34'), Decimal('5519.91'), Decimal('3160.43')),
 (datetime.datetime(2013, 12, 12, 16, 26, 53), Decimal('5519.91'), Decimal('2011.48'), Decimal('3508.43')),
 (datetime.datetime(2013, 12, 12, 16, 33, 14), Decimal('2011.48'), Decimal('772.86'), Decimal('1238.62')),
 (datetime.datetime(2013, 12, 12, 17, 49, 47), Decimal('772.86'), Decimal('2103.64'), Decimal('-1330.78')),
 (datetime.datetime(2013, 12, 13, 17, 58, 50), Decimal('2103.64'), Decimal('6201.65'), Decimal('-4098.01')),
 (datetime.datetime(2013, 12, 13, 18, 20, 51), Decimal('6201.65'), Decimal('3565.48'), Decimal('2636.17')),
 (datetime.datetime(2013, 12, 14, 9, 19, 37), Decimal('3565.48'), Decimal('599.20'), Decimal('2966.28')),
 (datetime.datetime(2013, 12, 14, 10, 24, 39), Decimal('599.20'), Decimal('6341.74'), Decimal('-5742.54')),
 (datetime.datetime(2013, 12, 14, 10, 37, 7), Decimal('6341.74'), Decimal('2742.06'), Decimal('3599.68')),
 (datetime.datetime(2013, 12, 14, 21, 40, 29), Decimal('2742.06'), Decimal('628.58'), Decimal('2113.48')),
 (datetime.datetime(2013, 12, 14, 21, 42, 11), Decimal('628.58'), Decimal('2522.50'), Decimal('-1893.92')),
 (datetime.datetime(2013, 12, 15, 23, 48, 5), Decimal('2522.50'), Decimal('2879.70'), Decimal('-357.20')),
 (datetime.datetime(2013, 12, 16, 2, 27, 22), Decimal('2879.70'), Decimal('2522.54'), Decimal('357.16')),
 (datetime.datetime(2013, 12, 16, 6, 16, 57), Decimal('2522.54'), Decimal('511.28'), Decimal('2011.26')),
 (datetime.datetime(2013, 12, 16, 6, 34, 38), Decimal('511.28'), Decimal('2684.84'), Decimal('-2173.56')),
 (datetime.datetime(2013, 12, 17, 12, 4, 46), Decimal('2684.84'), Decimal('6603.87'), Decimal('-3919.03')),
 (datetime.datetime(2013, 12, 17, 21, 43, 40), Decimal('6603.87'), Decimal('2712.61'), Decimal('3891.26')),
 (datetime.datetime(2013, 12, 17, 21, 54, 36), Decimal('2712.61'), Decimal('1691.61'), Decimal('1021.00')),
 (datetime.datetime(2013, 12, 17, 23, 2, 57), Decimal('1691.61'), Decimal('1228.72'), Decimal('462.89')),
 (datetime.datetime(2013, 12, 18, 10, 36, 28), Decimal('1228.72'), Decimal('2045.87'), Decimal('-817.15')),
 (datetime.datetime(2013, 12, 18, 23, 35, 31), Decimal('2045.87'), Decimal('12259.48'), Decimal('-10213.61')),
 (datetime.datetime(2013, 12, 18, 23, 41, 14), Decimal('12259.48'), Decimal('999.08'), Decimal('11260.40')),
 (datetime.datetime(2013, 12, 19, 16, 52, 20), Decimal('999.08'), Decimal('8433.82'), Decimal('-7434.74')),
 (datetime.datetime(2013, 12, 19, 16, 57, 14), Decimal('8433.82'), Decimal('5404.26'), Decimal('3029.56')),
 (datetime.datetime(2013, 12, 19, 17, 36, 9), Decimal('5404.26'), Decimal('1788.06'), Decimal('3616.20')),
 (datetime.datetime(2013, 12, 19, 17, 37, 45), Decimal('1788.06'), Decimal('2619.82'), Decimal('-831.76')),
 (datetime.datetime(2013, 12, 21, 16, 9, 46), Decimal('2619.82'), Decimal('6237.47'), Decimal('-3617.65')),
 (datetime.datetime(2013, 12, 21, 17, 13, 55), Decimal('6237.47'), Decimal('1593.26'), Decimal('4644.21')),
 (datetime.datetime(2013, 12, 21, 17, 14, 11), Decimal('1593.26'), Decimal('2733.50'), Decimal('-1140.24')),
 (datetime.datetime(2013, 12, 22, 7, 29, 58), Decimal('2733.50'), Decimal('713.58'), Decimal('2019.92')),
 (datetime.datetime(2013, 12, 22, 7, 35, 42), Decimal('713.58'), Decimal('6375.96'), Decimal('-5662.38')),
 (datetime.datetime(2013, 12, 22, 11, 24, 55), Decimal('6375.96'), Decimal('1972.12'), Decimal('4403.84')),
 (datetime.datetime(2013, 12, 22, 11, 29, 5), Decimal('1972.12'), Decimal('1865.47'), Decimal('106.65')),
 (datetime.datetime(2013, 12, 22, 19, 43), Decimal('1865.47'), Decimal('8300.60'), Decimal('-6435.13')),
 (datetime.datetime(2013, 12, 22, 19, 48, 13), Decimal('8300.60'), Decimal('2535.01'), Decimal('5765.59')),
 (datetime.datetime(2013, 12, 23, 7, 9, 20), Decimal('2535.01'), Decimal('3819.88'), Decimal('-1284.87')),
 (datetime.datetime(2013, 12, 23, 7, 18, 28), Decimal('3819.88'), Decimal('1865.60'), Decimal('1954.28')),
 (datetime.datetime(2013, 12, 24, 20, 36, 8), Decimal('1865.60'), Decimal('6556.66'), Decimal('-4691.06')),
 (datetime.datetime(2013, 12, 24, 20, 42, 9), Decimal('6556.66'), Decimal('738.54'), Decimal('5818.12')),
 (datetime.datetime(2013, 12, 25, 4, 33, 1), Decimal('738.54'), Decimal('6619.52'), Decimal('-5880.98')),
 (datetime.datetime(2013, 12, 25, 21, 3, 52), Decimal('6619.52'), Decimal('1906.58'), Decimal('4712.94')),
 (datetime.datetime(2013, 12, 25, 21, 16, 18), Decimal('1906.58'), Decimal('2820.24'), Decimal('-913.66')),
 (datetime.datetime(2013, 12, 26, 11, 33, 53), Decimal('2820.24'), Decimal('751.13'), Decimal('2069.11')),
 (datetime.datetime(2013, 12, 27, 5, 9, 46), Decimal('751.13'), Decimal('848.84'), Decimal('-97.71')),
 (datetime.datetime(2013, 12, 27, 22, 8, 3), Decimal('848.84'), Decimal('1847.13'), Decimal('-998.29')),
 (datetime.datetime(2013, 12, 28, 12, 54, 50), Decimal('1847.13'), Decimal('8262.87'), Decimal('-6415.74')),
 (datetime.datetime(2013, 12, 28, 18, 26, 50), Decimal('8262.87'), Decimal('1919.60'), Decimal('6343.27')),
 (datetime.datetime(2013, 12, 28, 18, 36, 42), Decimal('1919.60'), Decimal('1668.68'), Decimal('250.92')),
 (datetime.datetime(2013, 12, 29, 9, 35, 57), Decimal('1668.68'), Decimal('48675.90'), Decimal('-47007.22')),
 (datetime.datetime(2013, 12, 29, 9, 50, 38), Decimal('48675.90'), Decimal('1904.48'), Decimal('46771.42')),
 (datetime.datetime(2013, 12, 29, 21, 43, 14), Decimal('1904.48'), Decimal('2782.80'), Decimal('-878.32')),
 (datetime.datetime(2013, 12, 29, 23, 42, 44), Decimal('2782.80'), Decimal('636.65'), Decimal('2146.15')),
 (datetime.datetime(2013, 12, 29, 23, 54), Decimal('636.65'), Decimal('1959.15'), Decimal('-1322.50')),
 (datetime.datetime(2013, 12, 30, 3, 52, 30), Decimal('1959.15'), Decimal('6475.46'), Decimal('-4516.31')),
 (datetime.datetime(2013, 12, 30, 4, 0, 40), Decimal('6475.46'), Decimal('1577.66'), Decimal('4897.80')),
 (datetime.datetime(2013, 12, 30, 4, 30, 3), Decimal('1577.66'), Decimal('204.59'), Decimal('1373.07')),
 (datetime.datetime(2013, 12, 30, 4, 40, 17), Decimal('204.59'), Decimal('2792.11'), Decimal('-2587.52')),
 (datetime.datetime(2013, 12, 30, 21, 42, 43), Decimal('2792.11'), Decimal('5579.55'), Decimal('-2787.44')),
 (datetime.datetime(2013, 12, 30, 21, 46), Decimal('5579.55'), Decimal('734.78'), Decimal('4844.77')),
 (datetime.datetime(2013, 12, 31, 0, 18, 22), Decimal('734.78'), Decimal('1538.46'), Decimal('-803.68')),
 (datetime.datetime(2013, 12, 31, 0, 36, 59), Decimal('1538.46'), Decimal('1069.64'), Decimal('468.82')),
 (datetime.datetime(2013, 12, 31, 2, 4), Decimal('1069.64'), Decimal('863.45'), Decimal('206.19')),
 (datetime.datetime(2013, 12, 31, 12, 58, 47), Decimal('863.45'), Decimal('3850.74'), Decimal('-2987.29')),
 (datetime.datetime(2013, 12, 31, 13, 14, 55), Decimal('3850.74'), Decimal('2981.38'), Decimal('869.36')),
 (datetime.datetime(2014, 1, 1, 10, 56, 8), Decimal('2981.38'), Decimal('1073.87'), Decimal('1907.51'))]